div {
    &.caracteristiques {
        border:1px solid $grey;
        border-top-color:$black;
        padding: 5px;

        div {
            &.inner {
                display:grid;
                grid-template-columns: 1fr 1fr;
                grid-gap:5px;

                div {
                    &.col {
                        display:grid;
                        row-gap:10px;
                        align-items:flex-start;
                        align-content: flex-start;
                        grid-template-rows: max-content;
                    }

                    &.carac {
                        display:grid;
                        grid-template-columns: 1fr repeat(3, 45px);
                        grid-template-rows: max-content;
                        border:2px solid $black;
                        padding:0px 5px 5px;
                        grid-gap: 5px;

                        @include fakebutton('roll');

                        span {
                            &.header {
                                display:grid;
                                width:100%;
                                justify-content: center;
                                align-items: center;
                                font-size:0.8em;
                                height:18px;
                            }

                            &.score {
                                display:grid;
                                width:100%;
                                padding-right: 0px;
                                padding-left: 0px;
                                justify-content: center;
                                align-items: center;
                                font-family: Sriracha;
                                height:100%;
                                background:transparent;
                                border:1px solid #7a7971;
                                border-radius:2px;
                            }
                        }

                        input {
                            width:100%;
                            padding-right: 0px;
                            padding-left: 0px;
                            text-align: center;
                            font-family: Sriracha;
                            height:100%;
                            background:transparent;
                        }
                    }
                    
                    &.comp {
                        display:grid;
                        grid-template-columns: 29px 1fr repeat(5, 42.55px) 12.25px;
                        grid-template-rows: max-content;
                        border:2px solid $black;
                        padding:0px 5px 5px;
                        grid-gap: 5px;

                        @include fakebutton('roll');

                        a.oneRoll {
                            align-items: center;
                        }

                        a.twoRoll {
                            grid-column-start: 1;
                            grid-column-end: 3;
                        }

                        span {
                            &.header {
                                display:grid;
                                width:100%;
                                justify-content: center;
                                align-items: center;
                                font-size:0.8em;
                                height:18px;
                            }

                            &.htwo {
                                grid-column-start: 1;
                                grid-column-end: 3;
                            }
                            
                            &.label {
                                display:grid;
                                grid-column-start: 1;
                                grid-column-end: 3;
                                width:100%;
                                justify-content: center;
                                align-items: center;
                            }

                            &.carac {
                                display:grid;
                                width:100%;
                                font-weight:bold;
                                justify-content: center;
                                align-items: center;
                                font-family: Sriracha;
                                text-transform: uppercase;
                            }

                            &.score {
                                display:grid;
                                width:100%;
                                padding-right: 0px;
                                padding-left: 0px;
                                justify-content: center;
                                align-items: center;
                                font-family: Sriracha;
                                font-weight:normal;
                                height:100%;
                                background:transparent;
                                border:1px solid #7a7971;
                                border-radius:2px;
                            }

                            &.total {
                                font-weight:bold;
                            }
                        }

                        a.add {
                            width:max-content;
                            border-bottom: 2px solid #666;
                            border-color: #aaa;
                            border-radius: 5px;
                            border-right: 3px solid #999;
                            border-style: outset;
                            font-family: "Bangers";
                            font-size: 13px;
                            font-weight: normal;
                            line-height: 18px;
                            cursor: pointer;
                            color: $color;
                            text-transform: uppercase;
                            padding: 2px 5px;
                            margin-top: 2px;
                            margin-left:2px;
                            margin-bottom:2px;
        
                            &:hover {
                                color: $lightOrange;
                                border-color:$red;
                                letter-spacing: 1px;
                                text-shadow:none;
                            }
                        }

                        input {
                            width:100%;
                            padding-right: 0px;
                            padding-left: 0px;
                            text-align: center;
                            font-family: Sriracha;
                            height:100%;
                            background:transparent;
                        }

                        select {
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            -o-appearance: none;
                            appearance: none;
                            text-align: center;
                            background:transparent;
                            text-transform: uppercase;
                            width:100%;
                            height:100%;
                            font-weight:bold;
                            color:$color;
                        }

                        i {
                            cursor:pointer;
                            margin-top: auto;
                            margin-bottom:auto;

                            &:hover {
                                text-shadow: 0px 0px 3px;
                            }
                        }
                    }

                    &.etats {
                        display:grid;
                        grid-template-columns: 100%;
                        grid-template-rows: max-content;
                        border:2px solid $black;

                        span {
                            width:100%;
                            padding-left:15px;
                        }
    
                        textarea {
                            border-left:0px;
                            border-right:0px;
                            border-bottom:0px;
                            border-top-style: dashed;
                            border-radius:0px;
                            min-height:100px;
                            font-family: Sriracha;
    
                            &:last-of-type {
                                border-bottom:1px solid;
                                border-bottom-color: $color;
                            }
                        }        
                    }

                    &.points {
                        display:grid;
                        grid-template-columns: 50% 50%;
                        grid-template-rows: max-content;
                        border:2px solid $black;

                        span {
                            display:grid;
                            width:100%;
                            justify-content: center;
                            align-items: center;
                            font-size:0.8em;
                            text-align: center;
                        }

                        input {
                            width:100%;
                            padding-right: 0px;
                            padding-left: 0px;
                            text-align: center;
                            font-family: Sriracha;
                            height:100%;
                            background:transparent;
                        }

                        div {
                            display:grid;
                            grid-template-columns: 1fr 1fr;
                            grid-template-rows: max-content;
                            align-content:flex-end;
                            grid-gap:5px;
                            padding:0px 5px 5px;

                            &:last-of-type {
                                padding-left:5px;
                                padding-right:5px;
                                border-left:2px solid $black;
                            }
                        }
                    }

                    &.defense {
                        display:grid;
                        grid-template-columns: 1fr 45px repeat(3, 45px 5px) 45px;
                        grid-template-rows: max-content;
                        border:2px solid $black;
                        padding:0px 5px 5px;
                        grid-gap: 5px;

                        @include fakebutton('roll');

                        div {
                            &.line {
                                grid-column-start: 1;
                                grid-column-end: 10;

                                display:grid;
                                grid-template-columns: max-content 45px 1fr max-content 45px;
                                grid-gap: 5px;
                                margin-top: 5px;

                                span {
                                    display:grid;
                                    width:100%;
                                    font-weight:bold;
                                    justify-content: center;
                                    align-items: center;
                                    font-family: Sriracha;

                                    &.score {
                                        padding-right: 0px;
                                        padding-left: 0px;
                                        font-weight:normal;
                                        height:100%;
                                        background:transparent;
                                        border:1px solid #7a7971;
                                        border-radius:2px;
                                    }
                                }
                            }
                        }

                        >span {
                            &.header {
                                display:grid;
                                width:100%;
                                justify-content: center;
                                align-items: center;
                                font-size:0.8em;
                                height:18px;
                            }

                            &.carac {
                                display:grid;
                                width:100%;
                                font-weight:bold;
                                justify-content: center;
                                align-items: center;
                                font-family: Sriracha;
                                text-transform: uppercase;
                            }

                            &.score {
                                display:grid;
                                width:100%;
                                padding-right: 0px;
                                padding-left: 0px;
                                justify-content: center;
                                align-items: center;
                                font-family: Sriracha;
                                font-weight:normal;
                                height:100%;
                                background:transparent;
                                border:1px solid #7a7971;
                                border-radius:2px;
                            }

                            &.total {
                                font-weight:bold;
                            }
                        }

                        input {
                            width:100%;
                            padding-right: 0px;
                            padding-left: 0px;
                            text-align: center;
                            font-family: Sriracha;
                            height:100%;
                            background:transparent;
                        }
                    }

                    &.attaque {
                        display:grid;
                        grid-template-columns: 1fr repeat(3, 45px) 1fr;
                        grid-template-rows: max-content;
                        border:2px solid $black;
                        padding:0px 5px 5px;
                        grid-gap: 5px;

                        @include fakebutton('roll');

                        div {
                            &.line {
                                grid-column-start: 1;
                                grid-column-end: 6;

                                display:grid;
                                grid-template-columns: 1fr max-content repeat(2, 45px 5px) 45px 1fr;
                                grid-gap: 5px;
                                margin-top: 5px;

                                span {
                                    display:grid;
                                    width:100%;
                                    font-weight:bold;
                                    justify-content: center;
                                    align-items: center;
                                    font-family: Sriracha;

                                    &.score {
                                        padding-right: 0px;
                                        padding-left: 0px;
                                        font-weight:normal;
                                        height:100%;
                                        background:transparent;
                                        border:1px solid #7a7971;
                                        border-radius:2px;
                                    }

                                    &.total {
                                        font-weight:bold;
                                    }
                                }
                            }
                        }

                        >span {
                            &.header {
                                grid-column-start: 1;
                                grid-column-end: 6;

                                display:grid;
                                width:100%;
                                justify-content: center;
                                align-items: center;
                                font-size:1em;
                                height:18px;
                            }

                            &.carac {
                                display:grid;
                                width:100%;
                                font-weight:bold;
                                justify-content: center;
                                align-items: center;
                                font-family: Sriracha;
                                text-transform: uppercase;
                            }

                            &.score {
                                display:grid;
                                width:100%;
                                padding-right: 0px;
                                padding-left: 0px;
                                justify-content: center;
                                align-items: center;
                                font-family: Sriracha;
                                font-weight:normal;
                                height:100%;
                                background:transparent;
                                border:1px solid #7a7971;
                                border-radius:2px;
                            }
                        }

                        input {
                            width:100%;
                            padding-right: 0px;
                            padding-left: 0px;
                            text-align: center;
                            font-family: Sriracha;
                            height:100%;
                            background:transparent;
                        }

                        textarea {
                            grid-column-start: 1;
                            grid-column-end:6;

                            resize:vertical;                            
                            width:100%;
                            max-width:100%;
                            min-height:40px;
                            font-family: Sriracha;
                            font-size: 0.8em;
                        }
                    }

                    &.strategie {
                        display:grid;
                        grid-template-columns: 1fr repeat(3, 45px);
                        grid-template-rows: max-content;
                        border:2px solid $black;
                        padding:0px 5px 5px;
                        grid-gap: 5px;

                        >span {
                            &.header {
                                display:grid;
                                width:100%;
                                justify-content: center;
                                align-items: center;
                                font-size:0.8em;
                                height:18px;
                            }

                            &.label {
                                display:grid;
                                width:100%;
                                font-weight:bold;
                                justify-content: center;
                                align-items: center;
                                font-family: Sriracha;
                            }
                        }

                        input {
                            width:100%;
                            padding-right: 0px;
                            padding-left: 0px;
                            text-align: center;
                            font-family: Sriracha;
                            height:100%;
                            background:transparent;
                        }
                    }
                }
            }
        }
    }
}