nav.tabs {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(0px, auto));
    grid-gap:5px;
    border:0px;
    justify-content: left;

    a {
        border-bottom: 2px solid #666;
        border-color: #aaa;
        border-radius: 5px;
        border-right: 3px solid #999;
        border-style: outset;
        font-family: "Bangers";
        font-size:13px;
        font-weight:normal;
        line-height: 18px;
        cursor:pointer;
        color:$color;
        text-transform: uppercase;
        padding:2px 5px;

        &:hover,
        &.active {
            color: $lightOrange;
            border-color:$red;
            letter-spacing: 1px;
            text-shadow:none;
        }
    }
}