<section class="header">
    <input class="label" type="text" value="{{label}}" placeholder="{{localize "MM3.Nom"}}" />
</section>
<section class="body">
    {{#each data}}
        {{#if (eq type 'check')}}
            <a class="btn {{class}}" data-toggler="{{toggle}}">
                {{label}}
                <i class="fa-solid fa-hexagon-check"></i>
            </a>
        {{/if}}

        {{#if (eq type 'input')}}
            <label class="{{class}}">
                <span>{{label}} : </span>
                <input type="number" value="{{value}}" min="{{min}}" max="{{max}}" />
            </label>
        {{/if}}

        {{#if (eq type 'select')}}
            <select class="{{class}}" title="{{title}}">
                {{selectOptions list selected=selected blank=blank nameAttr="key" labelAttr="label" sort=sort}}
            </select>
        {{/if}}

        {{#if (eq type 'repeat')}}
            {{> systems/mutants-and-masterminds-3e/templates/dialog/parts/repeat.html}}
        {{/if}}
    {{/each}}
</section>