<form class="{{cssClass}}" autocomplete="off">
    <input name="name" class="mainName" type="text" value="{{data.name}}" placeholder="{{localize "MM3.Nom"}}" />

    <section class="sheet-body">
        {{!-- Sheet Tab Navigation --}}
        <nav class="sheet-tabs tabs" data-group="primary">
            <a class="item" data-tab="equipement">{{localize "TYPES.Item.equipement"}}</a>
            <a class="item" data-tab="options">{{localize "MM3.TABS.Options"}}</a>
        </nav>

        <div class="tab equipement" data-group="primary" data-tab="equipement">
            <div class="inner">
                <div class="details">
                    <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" />

                    <div class="cout">
                        <label>
                            <span>{{localize "MM3.Cout"}}</span>

                            <input type="number" name="system.cout" value="{{systemData.cout}}" min="0"/>
                        </label>
                    </div>
                </div>

                <div class="description">
                    <span class="label">{{localize "MM3.Description"}}</span>
                    {{editor systemData.description target="system.description" button=true owner=owner editable=editable}}
                </div>
            </div>
        </div>

        <div class="tab options" data-group="primary" data-tab="options">
            <div class="inner">
                <div class="block accessibility">
                    <span>{{localize "MM3.ACCESSIBILITE.Label"}}</span>
                    <div class="innerBlock">
                        <label>
                            <span>{{localize "MM3.ACCESSIBILITE.Font"}}</span>
                            <select name="system.accessibility.font">
                                {{selectOptions (listfont) selected=systemData.accessibility.font localize=true}}
                            </select>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
