section {
    &.sheet-bottom {
        display:grid;
        grid-template-columns: 1fr;
        border: 1px solid $grey;
        border-top-color: $black;
        padding: 5px;
        margin-top: 5px;
    }
}