$white:white;
$black:black;
$fond:#EBEBEB;
$fondwhisper:#b5b5b5;
$fondblind:black;
$dwhite:#e6e6e6;
$color:#363B44;
$imgbg:url("../assets/fond.webp");
$imgbg2:url("../assets/fond2.webp");
$yellow:#E0AC00;
$lightOrange:#fe8412;
$orange:#DA3A2F;
$red:#fe1611;
$grey:#a8a8a8;
$blue:#4E7FC8;
$darkBlue:#274064;
$lightGreen:#7fc84e;
$violet:#7E627F;
$green:#0fb002;
$bgopacity:rgba(255, 255, 255, 0.5);

@mixin blockH {
    position:relative;

    background: $fondH, radial-gradient(closest-side, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15px;

    img {
        &.borderTL,
        &.borderBL,
        &.borderTR,
        &.borderBR {
            position:absolute;
            width:64px;
            border:0px;
            margin:0px;
            padding:0px;
        }

        &.borderTL {
            left: -4px;
            top: -4px;
        }

        &.borderBL {
            left: -4px;
            bottom: -4px;
            transform: scaleY(-1);
        }

        &.borderTR {
            right: -4px;
            top: -4px;
            transform: scaleX(-1);
        }

        &.borderBR {
            right: -4px;
            bottom: -4px;
            transform: scaleX(-1) scaleY(-1);
        }
    }

}

@mixin blockV {
    position:relative;

    background: $fondV, radial-gradient(closest-side, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15px;

    img {
        &.borderTL,
        &.borderBL,
        &.borderTR,
        &.borderBR {
            position:absolute;
            width:64px;
            border:0px;
            margin:0px;
            padding:0px;
        }

        &.borderTL {
            left: -4px;
            top: -4px;
        }

        &.borderBL {
            left: -4px;
            bottom: -4px;
            transform: scaleY(-1);
        }

        &.borderTR {
            right: -4px;
            top: -4px;
            transform: scaleX(-1);
        }

        &.borderBR {
            right: -4px;
            bottom: -4px;
            transform: scaleX(-1) scaleY(-1);
        }
    }
}

@mixin title {
    background: $titre;
    background-size: contain;
    background-repeat: no-repeat;
    height: 60px;
    width: 380px;
    margin: auto;
    font-weight: normal;
    z-index: 99;
    grid-column: 2;
    grid-row: 1;

    input {
        border:0px;
        text-transform: inherit;
        font-size:20px;
        font-variant: small-caps;
    }
}

@mixin fakebutton($class) {
    a.#{$class} {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(180deg, $white, $dwhite);
        width: 100%;
        height: 100%;
        border: 1px solid #aaa;
        border-bottom-color: #666;
        border-right: 2px solid #999;
        border-radius: 5px;
        border-style: outset;
        font-family: "Bangers";
        font-size: 16px;
        font-weight: normal;
        line-height: 18px;
        cursor: pointer;
        color: $color;
        text-transform: uppercase;
        padding: 2px 5px;
        box-shadow: inset 0 1px 0 rgb(255 255 255 / 20%), 0 1px 2px rgb(0 0 0 / 5%);
        letter-spacing: 1px;

        &.selected {
            color:$color;
            justify-content: left;

            border-color: $red;
            letter-spacing: 1px;
            text-shadow: none;
            border-width:2px;

            i {
                position: absolute;
                right: 5px;
                font-size: 20px;
            }
        }

        &.unselected {
            justify-content: left;
            color:$grey;
        }

        &:hover {
            color: $lightOrange;
            border-color:$red;
            letter-spacing: 1px;
            text-shadow:none;
        }
    }
}

@mixin attaque {
    div.attaque {
        display:grid;
        border:2px solid $black;

        @include fakebutton('roll');
        @include fakebutton('noAtk');

        >div.line {
            display:grid;
            grid-template-columns: 1fr max-content repeat(2, 45px 5px) 45px 1fr;
            grid-gap: 5px;
            margin-top: 5px;
            margin-bottom:5px;

            span {
                display:grid;
                width:100%;
                font-weight:bold;
                justify-content: center;
                align-items: center;
                font-family: Sriracha;

                &.score {
                    padding-right: 0px;
                    padding-left: 0px;
                    font-weight:normal;
                    height:100%;
                    background:transparent;
                    border:1px solid #7a7971;
                    border-radius:2px;
                }

                &.total {
                    font-weight:bold;
                }
            }
        }

        >span {
            &.header {
                display:grid;
                width:100%;
                justify-content: center;
                align-items: center;
                font-size:15px;
                letter-spacing: 1px;
            }
        }

        input {
            width:100%;
            padding-right: 0px;
            padding-left: 0px;
            text-align: center;
            font-family: Sriracha;
            height:100%;
            background:transparent;

            &.hide {
                display:none;
            }
        }

        select {
            height:100%;
        }

        >a {
            &.add {
                text-align: center;
                width:calc(100% - 4px);
                border-bottom: 2px solid #666;
                border-color: #aaa;
                border-radius: 5px;
                border-right: 3px solid #999;
                border-style: outset;
                font-family: "Bangers";
                font-size: 13px;
                font-weight: normal;
                line-height: 18px;
                cursor: pointer;
                color: $color;
                text-transform: uppercase;
                padding: 2px 5px;
                margin: 2px;

                &:hover {
                    color: $lightOrange;
                    border-color:$red;
                    letter-spacing: 1px;
                    text-shadow:none;
                }
            }
        }

        div.reorderDrop {
            display:grid;
            grid-template-columns: 1fr repeat(3, 45px) 1fr 15px;
            grid-template-rows: max-content;
            padding:0px 5px 5px;
            grid-gap: 5px;

            a {
                &.noAtk {
                    &.selected {
                        color: $lightOrange;
                        border-color:$red;
                        letter-spacing: 1px;
                        text-shadow:none;
                    }
                }

                &.roll.large {
                    grid-column-start: 1;
                    grid-column-end: 3;
                }

                &.roll.verylarge {
                    grid-column-start: 1;
                    grid-column-end: 4;
                }

                &.hide {
                    display:none;
                }

                &.add {
                    grid-column-start: 1;
                    grid-column-end: 7;
                    text-align: center;
                    width:100%;
                    border-bottom: 2px solid #666;
                    border-color: #aaa;
                    border-radius: 5px;
                    border-right: 3px solid #999;
                    border-style: outset;
                    font-family: "Bangers";
                    font-size: 13px;
                    font-weight: normal;
                    line-height: 18px;
                    cursor: pointer;
                    color: $color;
                    text-transform: uppercase;
                    padding: 2px 5px;
                    margin-top: 2px;
                    margin-left:2px;
                    margin-bottom:2px;

                    &:hover {
                        color: $lightOrange;
                        border-color:$red;
                        letter-spacing: 1px;
                        text-shadow:none;
                    }
                }
            }

            div {
                &.line {
                    grid-column-start: 1;
                    grid-column-end: 7;

                    display:grid;
                    grid-template-columns: 1fr max-content repeat(2, 45px 5px) 45px 1fr;
                    grid-gap: 5px;
                    margin-top: 5px;

                    span {
                        display:grid;
                        width:100%;
                        font-weight:bold;
                        justify-content: center;
                        align-items: center;
                        font-family: Sriracha;

                        &.score {
                            padding-right: 0px;
                            padding-left: 0px;
                            font-weight:normal;
                            height:100%;
                            background:transparent;
                            border:1px solid #7a7971;
                            border-radius:2px;
                        }

                        &.total {
                            font-weight:bold;
                        }
                    }
                }

                &.specialline {
                    grid-column-start: 1;
                    grid-column-end: 6;

                    display:grid;
                    grid-template-columns: 1fr 1fr 45px;
                    grid-template-rows: max-content;
                    grid-gap: 5px;

                    span {
                        &.labelBase {
                            display: grid;
                            width: 100%;
                            font-weight: bold;
                            justify-content: right;
                            align-items: center;
                            font-family: Sriracha;
                            white-space: nowrap;
                        }

                        &.labelDefense {
                            grid-column-start: 1;

                            display: grid;
                            width: 100%;
                            font-weight: bold;
                            justify-content: right;
                            align-items: center;
                            font-family: Sriracha;

                            &.hide {
                                display:none;
                            }
                        }
                    }

                    select {
                        &.selectDefense {
                            grid-column-start: 2;
                            grid-column-end: 4;
                        }
                    }

                    input.label {
                        grid-column-start: 1;
                        grid-column-end: 4;
                    }
                }

                &.hide {
                    display:none;
                }
            }

            >span {
                &.header {
                    grid-column-start: 1;
                    grid-column-end: 6;

                    display:grid;
                    width:100%;
                    justify-content: center;
                    align-items: center;
                    font-size:1em;
                    height:18px;
                }

                &.carac {
                    display:grid;
                    width:100%;
                    font-weight:bold;
                    justify-content: center;
                    align-items: center;
                    font-family: Sriracha;
                    text-transform: uppercase;
                }

                &.score {
                    display:grid;
                    width:100%;
                    padding-right: 0px;
                    padding-left: 0px;
                    justify-content: center;
                    text-align: center;
                    align-items: center;
                    font-family: Sriracha;
                    font-weight:normal;
                    height:100%;
                    background:transparent;
                    border:1px solid #7a7971;
                    border-radius:2px;
                }

                &.label {
                    font-size: 0.8em;
                    text-align: center;
                    line-height: 0.8em;

                    &.large {
                        grid-column-start: 1;
                        grid-column-end: 3;
                    }

                    &.verylarge {
                        grid-column-start: 1;
                        grid-column-end: 4;
                    }
                }

                &.hide {
                    display:none;
                }
            }

            textarea {
                grid-column-start: 1;
                grid-column-end:6;

                resize:vertical;
                width:100%;
                max-width:100%;
                min-height:40px;
                font-family: Sriracha;
                font-size: 0.8em;

                &.hide {
                    display:none;
                }
            }

            select {
                &.hide {
                    display:none;
                }
            }

            i {
                cursor:pointer;
                text-align: center;

                &:hover {
                    text-shadow: 0px 0px 3px;
                }

                &.hide {
                    display:none;
                }
            }

            div.icons {
                display:grid;
                grid-template-columns: 1fr;

                i {
                    &.delete {
                        margin-top: auto;
                    }
                }
            }

        }
    }
}

@mixin strategie {
    div.strategie {
        display:grid;
        grid-template-columns: 1fr repeat(3, 45px);
        grid-template-rows: max-content;
        border:2px solid $black;
        padding:0px 5px 5px;
        grid-gap: 5px;

        @include fakebutton('str');

        a {
            &.resetStrategie {
                grid-column-start: 1;
                grid-column-end: 5;
            }
        }

        >span {
            &.title {
                grid-column-start:1;
                grid-column-end:5;

                display:grid;
                width:100%;
                justify-content: center;
                align-items: center;
                font-size:15px;
                height:18px;
            }

            &.header {
                display:grid;
                width:100%;
                justify-content: center;
                align-items: center;
                font-size:0.8em;
                height:18px;
            }

            &.label {
                display:grid;
                width:100%;
                font-weight:bold;
                justify-content: center;
                align-items: center;
                font-family: Sriracha;
            }

            &.separator {
                grid-column: 1 / 5;
                border-top: 1px solid $black;
                border-bottom: 1px solid $black;
                margin-top: 5px;
            }
        }

        input {
            width:100%;
            padding-right: 0px;
            padding-left: 0px;
            text-align: center;
            font-family: Sriracha;
            height:100%;
            background:transparent;

            &[disabled] {
                border: 1px solid #7a7971;
            }
        }

        div {
            &.range {
                grid-column: 1 / 5;
                display: grid;
                grid-gap: 5px;
                grid-template-columns: 45px 1fr 45px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}

@mixin limite {
    &.limite {
        grid-column: 1 / 3;
        padding-bottom: 5px;

        span.title {
            text-align: center;
            font-variant: small-caps;
            font-size: 15px;
            border-bottom: 1px solid black;
        }
    }

    div.strategie {
        display:grid;
        grid-template-columns: 1fr repeat(3, 150px);
        grid-template-rows: max-content;
        border:2px solid $black;
        padding:0px 5px 5px;
        column-gap: 20px;
        row-gap: 5px;

        span {
            &.title {
                grid-column-start:1;
                grid-column-end:5;

                display:grid;
                width:100%;
                justify-content: center;
                align-items: center;
                font-size:15px;
                height:18px;
            }

            &.header {
                display:grid;
                width:100%;
                justify-content: center;
                align-items: center;
                font-size:0.8em;
                height:18px;
            }

            &.label {
                display:grid;
                width:100%;
                font-weight:bold;
                justify-content: center;
                align-items: center;
                font-family: Sriracha;
            }

            &.score {
                display: block;
                width: 100%;
                text-align: center;
                border: 1px solid var(--color-border-light-tertiary);
                border-radius: 3px;
                opacity: 0.6;
            }
        }

        div {
            &.bLimite {
                display: grid;
                grid-template-columns: 1fr max-content 1fr max-content 1fr;
                grid-gap: 2px;
            }
        }

        input {
            width:100%;
            padding-right: 0px;
            padding-left: 0px;
            text-align: center;
            font-family: Sriracha;
            height:100%;
            background:transparent;

            &[disabled] {
                border: 1px solid #7a7971;
            }
        }
    }
}

@mixin vitesse {
    div.speed {
        display:grid;
        grid-template-columns: 22px 1fr 45px repeat(2, 100px);
        grid-template-rows: max-content;
        border:2px solid $black;
        grid-gap: 5px;

        @include fakebutton('btn');

        div {
            &.inlist {
                grid-column-start: 1;
                grid-column-end: 6;

                display:grid;
                grid-template-columns: 22px 1fr 45px repeat(2, 1fr) 12.25px;
                grid-template-rows: max-content;
                padding:0px 5px;
                grid-gap: 5px;

                a.selectspeed {
                    padding:0px;

                    i {
                        margin:auto;
                        padding-left: 2px;
                    }
                }

                &.selected {
                    background:rgba(218, 58, 47, 0.2);

                    a.selectspeed {
                        color: $lightOrange;
                        border-color: $red;
                        letter-spacing: 1px;
                        text-shadow: none;
                    }
                }

                i.delete {
                    cursor:pointer;
                    margin-top: auto;
                    margin-bottom:auto;

                    &:hover {
                        text-shadow: 0px 0px 3px;
                    }
                }
            }
        }

        span {
            &.title {
                grid-column-start: 1;
                grid-column-end: 7;

                text-align: center;
                font-size: 15px;
                letter-spacing: 1px;
            }

            &.header {
                display:grid;
                width:100%;
                justify-content: center;
                align-items: center;
                font-size:0.8em;
                height:18px;
            }

            &.label {
                display:grid;
                width:100%;
                justify-content: center;
                align-items: center;
            }

            &.score {
                display:grid;
                width:100%;
                padding-right: 0px;
                padding-left: 0px;
                justify-content: center;
                align-items: center;
                font-family: Sriracha;
                height:100%;
                background:transparent;
                border:1px solid #7a7971;
                border-radius:2px;
                font-size: 12px;
            }
        }

        input {
            width:100%;
            padding-right: 0px;
            padding-left: 0px;
            text-align: center;
            font-family: Sriracha;
            height:100%;
            background:transparent;
        }

        a.add {
            grid-column-start: 1;
            grid-column-end: 6;
            text-align: center;
            width:calc(100% - 4px);
            border-bottom: 2px solid #666;
            border-color: #aaa;
            border-radius: 5px;
            border-right: 3px solid #999;
            border-style: outset;
            font-family: "Bangers";
            font-size: 13px;
            font-weight: normal;
            line-height: 18px;
            cursor: pointer;
            color: $color;
            text-transform: uppercase;
            padding: 2px 5px;
            margin: 2px;

            &:hover {
                color: $lightOrange;
                border-color:$red;
                letter-spacing: 1px;
                text-shadow:none;
            }
        }
    }
}

@mixin btnOC($class) {
    div {
        &.#{$class} {
            a {
                display: flex;
                justify-content: center;
                align-items: flex-end;
                background-image: linear-gradient(180deg, $white, $dwhite);
                border: 1px solid #aaa;
                border-bottom-color: #666;
                border-right: 2px solid #999;
                border-radius: 5px;
                border-style: outset;
                font-family: "Bangers";
                font-size: 15px;
                font-weight: normal;
                line-height: 18px;
                cursor: pointer;
                color: #363B44;
                text-transform: uppercase;
                padding: 2px 5px;
                box-shadow: inset 0 1px 0 rgb(255 255 255 / 20%), 0 1px 2px rgb(0 0 0 / 5%);
                letter-spacing: 1px;

                &:hover {
                    color: $lightOrange;
                    border-color:$red;
                    letter-spacing: 1px;
                    text-shadow:none;
                }
            }
        }
    }

}