div.dialog-edit {
    section.window-content {
        background:$fond;
        padding-bottom: 0px;

        form {
            display: grid;
            align-items: flex-start;
            align-content: flex-start;
            grid-template-rows: min-content 1fr min-content;
        }

        section {
            &.header {
                width:100%;
                border-width: 2px;
                border-radius: 15px 15px 0px 0px;

                background-blend-mode: overlay, multiply;
                background-size:500px;
                background-repeat:no-repeat;

                display:grid;
                grid-template-columns: 1fr;
                background:$imgbg $blue;

                input,
                span {
                    font-size: 2rem;
                    height: 3rem;
                    line-height: 3rem;
                    color: $fond;
                    text-shadow: 2px 2px 0px $orange, 1px 1px 0px $color;
                    font-family: "Bangers";
                    text-align: center;
                    border:0px;

                    &::placeholder {
                        color:$fond;
                    }
                }
            }

            &.body {
                display:grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 5px;
                padding: 5px;
                align-items: flex-start;
                align-content: flex-start;
                margin-top: 5px;
                border: 1px solid $grey;
                border-top-color: $black;

                @include fakebutton('btn');

                select {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    -o-appearance: none;
                    appearance: none;
                    text-align: center;
                    background:transparent;
                    text-transform: uppercase;
                    width:100%;
                    height:29px;
                    font-weight:bold;
                    color:$color;

                    &.full {
                        grid-column-start: 1;
                        grid-column-end: 3;
                    }
                }

                label {
                    display: grid;
                    grid-template-columns: 1fr 42px;
                    grid-gap: 2px;
                }

                i {
                    display: none;
                }

                a.btn {
                    height:29px;
                    line-height: 29px;
                }

                a.selected {
                    color: $lightOrange;
                    border-color:$red;
                    letter-spacing: 1px;
                    text-shadow:none;

                    i {
                        display: block;
                    }
                }

                span {
                    display: grid;
                    width: 100%;
                    font-weight: bold;
                    justify-content: right;
                    align-items: center;
                    font-family: Sriracha;
                }

                input[type=number] {
                    width: 100%;
                    padding-right: 0px;
                    padding-left: 0px;
                    text-align: center;
                    font-family: Sriracha;
                    height: 100%;
                    background: transparent;
                }

                div {
                    &.repeat {
                        grid-column: 1 / 3;
                        display: grid;
                        grid-template-columns: 1fr;
                        column-gap: 5px;
                        align-items: flex-start;
                        align-content: flex-start;
                        border: 1px solid $black;

                        header {
                            display: grid;
                            grid-template-columns: 27px 1fr 27px;
                            font-size: 16px;
                            font-variant: small-caps;
                            text-align: center;
                            justify-content: center;
                            letter-spacing: 1px;
                            background: $color;
                            color: $white;

                            span {
                                &.deploy {
                                    display: block;
                                    width: max-content;
                                }

                                &.main {
                                    justify-content: center;
                                }
                            }

                            i {
                                display: flex;
                                cursor: pointer;

                                &::before {
                                    border: 2px solid $fond;
                                    font-size: 13px;
                                    border-radius: 30px;
                                    width: 23px;
                                    text-align: center;
                                    color: $fond;
                                }

                                &.minus {
                                    &::before {
                                        content:"-";
                                    }
                                }

                                &.plus {
                                    &::before {
                                        content:"+";
                                    }
                                }

                            }
                        }

                        div {
                            &.innerData {
                                display: grid;
                                grid-template-columns: 1fr 1fr;
                                grid-gap: 5px;
                                padding: 5px;
                                border-bottom: 1px solid $black;
                            }

                            &.data {
                                display: grid;
                                grid-template-columns: 1fr;
                                grid-gap: 5px;
                                align-items: flex-start;
                                align-content: flex-start;

                                span {
                                    &.header {
                                        justify-content: center;
                                        font-size: 17px;
                                        font-variant: small-caps;
                                    }
                                }

                                div {
                                    &.value {
                                        display: grid;
                                        grid-template-columns: 1fr 50px;
                                        grid-gap: 2px;

                                        span {
                                            font-variant: small-caps;
                                            font-size: 17px;
                                        }
                                    }

                                    &.line {
                                        display: grid;
                                        grid-template-columns: 1fr 125px;
                                        grid-gap: 5px;
                                        align-items: flex-start;
                                        align-content: flex-start;
                                        padding: 2px;
                                        border-bottom: 1px solid $color;
                                    }

                                    &.status {
                                        display:flex;
                                        flex-wrap: wrap;
                                        grid-column: 1 / 3;

                                        span {
                                            display: grid;
                                            grid-template-columns: 1fr max-content;
                                            grid-gap: 5px;

                                            position: relative;
                                            text-align: center;
                                            justify-content: center;
                                            width: max-content;
                                            padding: 2px;
                                            border: 1px solid $black;
                                            border-radius: 20px;
                                            padding-left: 20px;
                                            padding-right: 10px;
                                            margin-left: auto;
                                            margin-right: auto;
                                            margin-bottom: 5px;
                                        }

                                        i {
                                            display: flex;
                                            cursor: pointer;

                                            &:hover {
                                                text-shadow: 0px 0px 3px;
                                            }
                                        }
                                    }

                                    &.add {
                                        grid-column: 1 / 3;
                                        display: grid;
                                        grid-template-columns: 1fr 125px;
                                        grid-gap: 5px;
                                    }
                                }
                            }
                        }
                    }
                }

                .dualcol {
                    grid-column: 1 / 3;
                }

                .hide {
                    visibility: hidden;
                }

                .hidden {
                    display:none !important;
                }
            }
        }

        div {
            &.dialog-content {
                flex:0;
            }

            &.dialog-buttons {
                display:grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 5px;
                margin-bottom: 10px;
                padding-top: 10px;

                button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-image: linear-gradient(180deg, $white, $dwhite);
                    border: 1px solid #aaa;
                    border-right: 2px solid #999;
                    border-radius: 5px;
                    border-style: outset;
                    font-family: "Bangers";
                    font-size: 15px;
                    font-weight: normal;
                    line-height: 18px;
                    cursor: pointer;
                    color: #363B44;
                    text-transform: uppercase;
                    padding: 2px 5px;
                    box-shadow: inset 0 1px 0 rgb(255 255 255 / 20%), 0 1px 2px rgb(0 0 0 / 5%);
                    letter-spacing: 1px;
                    height: 29px;
                    line-height: 29px;

                    &:hover {
                        color: $lightOrange;
                        border-color:$red;
                        letter-spacing: 1px;
                        text-shadow:none;
                    }
                }
            }
        }
    }

}