.mm3-roll {
    cursor:pointer;
    background:$fond;

    h4 {
        &.flavor {
            box-shadow: none;
            background:$imgbg $blue;
            font-family: "Sriracha";
            text-align: center;
            line-height: 36px;
            background-blend-mode: overlay, multiply;
            background-size: 500px;
            background-repeat: no-repeat;
            color: $fond;
            font-size: 18px;
            padding-left: 2px;
            padding-right: 2px;
            text-shadow: 2px 2px 0px $orange, 1px 1px 0px $color;
            border: 0px;
            border-radius: 15px 15px 0px 0px;
            letter-spacing: 1px;
        }

        &.formula {
            box-shadow: none;
            font-family: "Sriracha";
            font-size: 1em;
            border:0px;
            border-radius:0px;
            background:$color;
            color:$fond;
            letter-spacing: 1px;
        }

        &.tgtName {
            border-bottom: 1px solid $grey;
            font-size:10px;
        }

        &.result {
            box-shadow: none;
            font-family: "Sriracha";
            font-size: 1em;
            border:0px;
            border-radius:0px;
            background:transparent;
            color:$color;
            font-weight:bold;
            border-radius:0px;
            border:0px;
            border-left: 1px solid $black;;
            border-right: 1px solid $black;
        }

        &.attack {
            box-shadow: none;
            font-family: "Sriracha";
            font-size: 1em;
            border:0px;
            border-radius:0px;
            background:transparent;
            color:$color;
            font-weight:bold;
            border-radius:0px;
            border:0px;
            border-top:1px solid $black;
            border-left: 1px solid $black;;
            border-right: 1px solid $black;
        }

        &.bottom {
            &::after {
                content: "";
                display: grid;
                grid-template-columns: 1fr;
                height: 0.5rem;
                width: 100%;
                border-width: 2px;
                border-radius: 0px 0px 15px 15px;
                background-blend-mode: overlay, multiply;
                background: $imgbg $blue;
            }
        }

        &.critique {
            border-top: 1px solid $black;
            color:$green;
        }
    }

    div {
        &.dice-tooltip {
            border-left:1px solid $black;
            border-right:1px solid $black;

            header {
                padding-left: 5px;
            }

            ol {
                margin-bottom: 0px;
                padding-bottom: 5px;
                padding-left: 5px;
                border-bottom: 1px solid var(--color-border-light-primary);
            }

            span {
                &.part-total {
                    border-right: 0px;
                    border-top: 0px;
                    border-bottom: 0px;
                }
            }
        }

        &.dataAttack {
            div {
                &.inner {
                    display:grid;
                    grid-template-columns: 1fr 1fr;
                    padding-left: 5px;
                    padding-right: 5px;

                    span {
                        box-shadow: none;
                        font-family: "Sriracha";
                        font-size: 0.8em;
                        border:0px;
                        border-radius:0px;
                        background:transparent;
                        color:$color;
                        letter-spacing: 1px;
                    }
                }
            }

        }

        &.btn {
            box-shadow: none;
            font-family: "Sriracha";
            font-size: 1em;
            border:0px;
            border-radius:0px;
            background:transparent;
            color:$color;
            font-weight:bold;
            border-radius:0px;
            border:0px;
            border-top:1px solid $black;
            border-left: 1px solid $black;;
            border-right: 1px solid $black;
            text-align: center;

            button {
                box-shadow:none;
                width:max-content;
                border:0px;
                background:$blue;
                font-weight:bold;
                margin-top: 2px;
                margin-bottom: 2px;
                font-variant: small-caps;
                font-size: 1em;
                font-family: "Sriracha";
                color:$fond;
                letter-spacing: 1px;

                background:$imgbg $blue;
                background-blend-mode: overlay, multiply;
                text-shadow: 2px 2px 0px $orange, 1px 1px 0px $color;
                background-size: 500px;
            }

            &.special {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 5px;

                button {
                    width: 100%;
                    padding: 0px;
                }
            }
        }
    }

    span {
        &.text {
            display:block;
            text-align: justify;
            width:100%;
            border-left: 1px solid $black;
            border-right: 1px solid $black;
            padding-left: 5px;
            padding-right: 5px;
            font-family: "Sriracha";
            border-top: 1px solid $black;
        }
    }
}

.mm3-rollpwr {
    cursor:pointer;
    background:$fond;

    h4 {
        &.flavor {
            box-shadow: none;
            background:$imgbg $blue;
            font-family: "Sriracha";
            text-align: center;
            line-height: 36px;
            background-blend-mode: overlay, multiply;
            background-size: 500px;
            background-repeat: no-repeat;
            color: $fond;
            font-size: 18px;
            padding-left: 2px;
            padding-right: 2px;
            text-shadow: 2px 2px 0px $orange, 1px 1px 0px $color;
            border: 0px;
            border-radius: 15px 15px 0px 0px;
            letter-spacing: 1px;
        }

        &.formula {
            box-shadow: none;
            font-family: "Sriracha";
            font-size: 1em;
            border:0px;
            border-radius:0px;
            background:$color;
            color:$fond;
            letter-spacing: 1px;
        }

        &.result {
            box-shadow: none;
            font-family: "Sriracha";
            font-size: 1em;
            border:0px;
            border-radius:0px;
            background:transparent;
            color:$color;
            font-weight:bold;
            border-radius:0px;
            border:0px;
            border-left: 1px solid $black;;
            border-right: 1px solid $black;
        }

        &.header {
            box-shadow: none;
            font-family: "Sriracha";
            font-size: 1.2em;
            border:0px;
            border-radius:0px;
            background:transparent;
            color:$color;
            font-weight:bold;
            border-radius:0px;
            border:0px;
            border-left: 1px solid $black;;
            border-right: 1px solid $black;
            border-top: 1px solid $black;
            text-transform: uppercase;
            text-align: center;
            margin: 0px;
        }

        &.bottom {
            &::after {
                content: "";
                display: grid;
                grid-template-columns: 1fr;
                height: 0.5rem;
                width: 100%;
                border-width: 2px;
                border-radius: 0px 0px 15px 15px;
                background-blend-mode: overlay, multiply;
                background: $imgbg $blue;
            }
        }

        &.critique {
            border-top: 1px solid $black;
            color:$green;
        }
    }

    div {
        &.dice-tooltip {
            border-left:1px solid $black;
            border-right:1px solid $black;

            header {
                padding-left: 5px;
            }

            ol {
                margin-bottom: 0px;
                padding-bottom: 5px;
                padding-left: 5px;
                border-bottom: 1px solid var(--color-border-light-primary);
            }

            span {
                &.part-total {
                    border-right: 0px;
                    border-top: 0px;
                    border-bottom: 0px;
                }
            }
        }

        &.data {
            display:grid;
            grid-template-columns: 1fr 1fr;
            padding-left: 5px;
            padding-right: 5px;
            width:100%;
            border-left: 1px solid $black;
            border-right: 1px solid $black;
            border-top: 1px solid $black;
            grid-gap: 2px;

            span {
                font-family: "Sriracha";

                &:first-of-type {
                    grid-column-start: 1;
                    grid-column-end: 3;

                    text-align: center;
                }
            }
        }

        &.descripteurs {
            display:block;
            grid-template-columns: 1fr 1fr;
            padding-left: 5px;
            padding-right: 5px;
            width:100%;
            border-left: 1px solid $black;
            border-right: 1px solid $black;
            border-top: 1px solid $black;
            grid-gap: 2px;
            min-height:10px;
            text-align: justify;

            span {
                font-family: "Sriracha";
            }
        }
    }

    span {
        &.text {
            display:block;
            text-align: justify;
            width:100%;
            border-left: 1px solid $black;
            border-right: 1px solid $black;
            padding-left: 5px;
            padding-right: 5px;
            padding-bottom: 1px;
            font-family: "Kalam";
            letter-spacing: 0.5px;
            border-top: 1px solid $black;
            min-height:10px;
        }
    }
}

.mm3-msgdata {
    background:$fond;

    h4 {
        &.flavor {
            box-shadow: none;
            background:$imgbg $blue;
            font-family: "Sriracha";
            text-align: center;
            line-height: 36px;
            background-blend-mode: overlay, multiply;
            background-size: 500px;
            background-repeat: no-repeat;
            color: $fond;
            font-size: 18px;
            padding-left: 2px;
            padding-right: 2px;
            text-shadow: 2px 2px 0px $orange, 1px 1px 0px $color;
            border: 0px;
            border-radius: 15px 15px 0px 0px;
            letter-spacing: 1px;
            margin:0px;
        }

        &.rank {
            box-shadow: none;
            font-family: "Sriracha";
            font-size: 1em;
            border:0px;
            border-radius:0px;
            background:$color;
            color:$fond;
            letter-spacing: 1px;
            margin:0px;
            text-align: center;
        }

        &.bottom {
            &::after {
                content: "";
                display: grid;
                grid-template-columns: 1fr;
                height: 0.5rem;
                width: 100%;
                border-width: 2px;
                border-radius: 0px 0px 15px 15px;
                background-blend-mode: overlay, multiply;
                background: $imgbg $blue;
            }
        }
    }

    span {
        &.text {
            display:block;
            text-align: justify;
            width:100%;
            border-left: 1px solid $black;
            border-right: 1px solid $black;
            padding-left: 5px;
            padding-right: 5px;
            padding-bottom: 1px;
            font-family: "Kalam";
            letter-spacing: 0.5px;
            border-top: 1px solid $black;
            min-height:10px;
            margin:0px;        }
    }
}

.chat-message {
    background:$fond;

    &.whisper {

        filter:hue-rotate(50deg);
    }

    &.blind {
        filter:hue-rotate(250deg);
    }

    &.context {
        z-index: 999;
    }
}