<div class="speed">
    <div class="inlist">
        <span class="title">{{localize "MM3.Vitesse"}}</span>
        <span></span>
        <span class="header">{{localize "MM3.Nom"}}</span>
        <span class="header">{{localize "MM3.Rang"}}</span>
        <span class="header">{{localize "MM3.VITESSE.Round"}} ({{systemData.vitesse.mlabel1}})</span>
        <span class="header">{{systemData.vitesse.mlabel2}}</span>
    </div>                

    {{#each systemData.vitesse.list as |key spd |}}
        <div class="inlist {{#if key.selected}}selected{{/if}} {{#if key.canDel}}canDel{{/if}}">
            <a class="btn selectspeed" data-id="{{spd}}"><i class="fa-solid fa-hexagon-check"></i></a>

            {{#if key.canDel}}
            <input type="text" name="system.vitesse.list.{{spd}}.label" value="{{key.label}}" />
            {{else}}
            <span class="label">{{key.label}}</span>
            {{/if}}

            <input type="number" name="system.vitesse.list.{{spd}}.rang" value="{{key.rang}}" min="-5" />
            {{#unless manuel}}
            <span class="score">{{key.round}}</span>
            <span class="score">{{key.kmh}}</span>
            {{else}}
            <input type="number" name="system.vitesse.list.{{spd}}.round" value="{{key.round}}" />
            <input type="number" name="system.vitesse.list.{{spd}}.kmh" value="{{key.kmh}}" />
            {{/unless}}

            {{#if key.canDel}}
            <i class="fa-solid fa-trash-xmark delete" data-id="{{spd}}" data-type="vitesse"></i>
            {{/if}}
        </div> 
    {{/each}}

    <a class="add" data-type="vitesse">
        {{localize "MM3.BTN.Add"}}
    </a>
</div>