div.pouvoir {
    img.profile-img {
        object-fit: contain;
    }
    
    section.window-content {
        background:$fond;
        color:$color;
        font-family: Sriracha;
        font-weight: bold;

        form {
            min-width: min-content;
        }

        div {
            &.editor-content {
                font-family: "Kalam";
                letter-spacing: 0.5px;
            }
        }
    }

    section.header {
        width:100%;
        border-width: 2px;
        border-radius: 15px 15px 0px 0px;
        
        background-blend-mode: overlay, multiply;
        background-size:500px;
        background-repeat:no-repeat;

        display:grid;
        grid-template-columns: 1fr 200px;

        &.blue {
            background:$imgbg $blue;
        }

        &.red {
            background:$imgbg $orange;
        }

        &.violet {
            background:$imgbg $violet;
        }

        input {
            font-size: 4rem;
            height: 4rem;
            color: $fond;
            text-shadow: 2px 2px 0px $orange, 1px 1px 0px $color;
            font-family: "Bangers";
            text-align: center;
            border:0px;

            &::placeholder {
                color:$fond;                    
            }
        }

        select {
            font-size: 2rem;
            height: 4rem;
            color: $fond;
            text-shadow: 2px 2px 0px $orange, 1px 1px 0px $color;
            font-family: "Bangers";
            text-align: center;
            border:0px;
            border-left:2px solid $color;
            -webkit-appearance: none;
            -moz-appearance: none;
            -o-appearance: none;
            appearance: none;

            &::placeholder {
                color:$fond;                    
            }

            option {
                background:$blue;
            }
        }
    }

    section.sheet-body {
        div.tab >div.inner {
            display:grid;
            grid-template-columns: 220px 1fr;
            grid-template-rows: max-content;
            grid-gap:5px;
            align-items: flex-start;
            align-content: flex-start;
            margin-top:5px;

            border: 1px solid $grey;
            border-top-color: $black;
            padding: 5px;
        }      
        
        @import "subparts/nav";
        @import "subparts/options";

        div {
            &.details {
                display:grid;
                grid-template-columns: 100%;
                grid-gap: 5px;
            }

            &.infos {
                display:grid;
                grid-template-columns: 100%;
                grid-template-rows:min-content min-content 1fr;
                align-items: flex-start;
                align-content: flex-start;
                grid-gap: 5px;
            }

            &.special {
                display:grid;
                grid-template-columns: 1fr;
                align-items: flex-start;
                align-content: flex-start;
                grid-gap:5px;
                border:2px solid $black;
                padding:5px;

                @include fakebutton('special');

                a.selected {
                    color: $lightOrange;
                    border-color:$red;
                    letter-spacing: 1px;
                    text-shadow:none;
                }
            }

            &.data {
                display:grid;
                grid-template-columns: 50px 1fr;
                align-items: flex-start;
                align-content: flex-start;
                grid-gap:5px;
                border:2px solid $black;
                padding:5px;


                span {
                    display:grid;
                    width:100%;
                    justify-content: left;
                    align-items: center;
                }

                select {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    -o-appearance: none;
                    appearance: none;
                    text-align: center;
                    background:transparent;
                    text-transform: uppercase;
                    width:100%;
                    height:100%;
                    font-weight:bold;
                    color:$color;
                }
            }

            &.cout {
                display:grid;
                grid-template-columns: 1fr 45px;
                align-items: flex-start;
                align-content: flex-start;
                grid-gap:5px;
                border:2px solid $black;
                padding:5px;

                span {
                    &.header {
                        grid-column-start: 1;
                        grid-column-end: 3;
                        display:grid;
                        width:100%;
                        justify-content: center;
                        align-items: center;
                        font-size:0.8em;
                        height:18px;
                    }

                    &.label {
                        display:grid;
                        width:100%;
                        justify-content: left;
                        align-items: center;
                    }

                    &.score {
                        display:grid;
                        width:100%;
                        padding-right: 0px;
                        padding-left: 0px;
                        justify-content: center;
                        align-items: center;
                        font-family: Sriracha;
                        font-weight:normal;
                        height:100%;
                        background:transparent;
                        border:1px solid #7a7971;
                        border-radius:2px;
                    }

                    &.total {
                        font-weight:bold;
                    }
                }

                input {
                    width:100%;
                    padding-right: 0px;
                    padding-left: 0px;
                    text-align: center;
                    font-family: Sriracha;
                    height:100%;
                    background:transparent;
                }

                details {
                    grid-column-start: 1;
                    grid-column-end: 3;
                    width: calc(100% + 10px);
                    margin-left:-5px;

                    summary {
                        display: grid;
                        width:100%;
                        grid-template-columns: 25px 1fr 45px;
                        grid-gap: 2px;
                        cursor: pointer;
                        padding-left:5px;
                        padding-right:5px;

                        &::before {
                            content: "+";
                            border: 1px solid $color;
                            font-size: 13px;
                            border-radius: 30px;
                            width: 23px;
                            text-align: center;
                        }
                    }

                    div {
                        display: grid;
                        width: 100%;
                        grid-template-columns: 1fr 45px;
                        grid-gap: 2px;
                        margin-top:5px;
                        padding-left:5px;
                        padding-right:5px;
                    }

                    &[open] {
                        border-top:1px solid var(--color-border-light-primary);
                        border-bottom:1px solid var(--color-border-light-primary);
                        padding-top:5px;
                        padding-bottom:5px;

                        summary {
                            &::before {
                                content:"-";
                            }
                        }
                    }
                }

                hr {
                    grid-column-start: 1;
                    grid-column-end: 3;
                    width: calc(100% + 10px);
                    margin-left: -5px;
                    margin-top: 0px;
                    margin-bottom: 0px;
                }
            }

            &.descripteurs {
                display:grid;
                grid-template-columns: 100%;
                align-items: flex-start;
                align-content: flex-start;
                grid-gap:5px;
                border:2px solid $black;
                padding:5px;

                >div {
                    display:grid;
                    grid-template-columns:repeat(auto-fit, 150px);
                    grid-gap:5px;
                    justify-content: left;

                    div {
                        display:grid;
                        grid-template-columns: 1fr 12.25px;
                        grid-gap: 2px;
                        width:100%;
                        height:100%;
                        position:relative;
                    }
                }

                input {
                    width:100%;
                    padding-right: 0px;
                    padding-left: 0px;
                    text-align: center;
                    font-family: Sriracha;
                    height:100%;
                    background:$blue;
                    color:$fond;
                    border-radius:5px;
                    border:0px;
                }

                span {
                    display:grid;
                    width:100%;
                    justify-content: left;
                    align-items: center;
                }

                a.add {
                    width:max-content;
                    border-bottom: 2px solid #666;
                    border-color: #aaa;
                    border-radius: 5px;
                    border-right: 3px solid #999;
                    border-style: outset;
                    font-family: "Bangers";
                    font-size: 13px;
                    font-weight: normal;
                    line-height: 18px;
                    cursor: pointer;
                    color: $color;
                    text-transform: uppercase;
                    padding: 2px 5px;
                    margin-top: 2px;
                    margin-left:2px;
                    margin-bottom:2px;

                    &:hover {
                        color: $lightOrange;
                        border-color:$red;
                        letter-spacing: 1px;
                        text-shadow:none;
                    }
                }

                i {
                    cursor:pointer;
                    margin-top: auto;
                    margin-bottom:auto;

                    &:hover {
                        text-shadow: 0px 0px 3px;
                    }
                }
            }

            &.description {
                display:grid;
                grid-template-columns: 100%;
                grid-template-rows: max-content 1fr;
                align-items: flex-start;
                align-content: flex-start;
                border:2px solid $black;
                padding:0px 0px 5px;
                min-height:150px;
                height: 100%;

                span.label {
                    display:grid;
                    font-variant: small-caps;
                    width:100%;
                    align-items: center;
                    padding-left:15px;
                    font-size: 15px;
                }

                div.editor {
                    min-height:100%;
                    border-top:1px solid;
                    border-top-color: $color;

                    a.editor-edit {
                        height: 30px;
                        width: 30px;
                        text-align: center;
                    }

                    div {
                        &.editor-content {
                            padding-left: 5px;
                            padding-right: 5px;
                        }

                        &.tox-tinymce {
                            min-height:300px;
                        }
                    }
                }
            }

            &.modificateurs {
                grid-column-start: 1;
                grid-column-end:3;
                display:grid;
                grid-template-columns:1fr 1fr;
                grid-template-rows:min-content;
                align-items: flex-start;
                align-content: flex-start;
                grid-gap: 5px;

                div {
                    &.extras,
                    &.defauts {
                        display:grid;
                        grid-template-columns: 1fr;
                        align-items: flex-start;
                        align-content: flex-start;
                        grid-gap:5px;
                        border:2px solid $black;
                        padding:5px;

                        >span {
                            &.header {
                                position:relative;
                                display:grid;
                                width:100%;
                                justify-content: center;
                                align-items: center;
                                font-size:0.8em;
                                height:18px;

                                i {
                                    position: absolute;
                                    right: 5px;
                                    top: 2px;
                                    cursor: pointer;
                                    font-size: 1rem;

                                    &:hover {
                                        text-shadow: 0px 0px 3px;
                                    }
                                }
                            }
                        }

                        >details {
                            display:grid;
                            grid-template-columns: 1fr;
                            align-items: flex-start;
                            align-content: flex-start;

                            summary {
                                position:relative;
                                display: grid;
                                width:100%;
                                grid-template-columns: 1fr;
                                cursor: pointer;

                                >input {
                                    grid-column-start:1;
                                    grid-column-end: 3;
                                    width:100%;
                                    border-width: 2px;
                                    border-radius: 15px 15px 0px 0px;
                                    background:$imgbg $blue;
                                    background-blend-mode: overlay, multiply;
                                    background-size:500px;
                                    background-repeat:no-repeat;
                                    font-size: 1.5rem;
                                    height: 2rem;
                                    color: $fond;
                                    text-shadow: 2px 2px 0px $orange, 1px 1px 0px $color;
                                    font-family: "Bangers";
                                    text-align: center;
                    
                                    &::placeholder {
                                        color:$fond;                    
                                    }
                                }

                                i {
                                    position: absolute;
                                    right: 10px;
                                    top: 9px;
                                    color: $fond;

                                    &:hover {
                                        text-shadow: 0px 0px 3px;
                                    }
                                }

                                div.before {
                                    position:absolute;
                                    top: 3px;
                                    left: 10px;

                                    &::before {
                                        content: "+";
                                        border: 2px solid $fond;
                                        font-size: 13px;
                                        border-radius: 30px;
                                        position: absolute;
                                        width: 23px;
                                        text-align: center;
                                        color: $fond;
                                        height: 23px;

                                        &:hover {
                                            text-shadow: 0px 0px 3px;
                                        }
                                    }
                                }

                                &::before {
                                    content: "";
                                }
                            }

                            &[open] {        
                                summary {
                                    div.before {
                                        &::before {
                                            content:"-";
                                        }
                                    }
                                }
                            }

                            section {
                                display:grid;
                                grid-template-columns: 100px 1fr;
                                align-items: flex-start;
                                align-content: flex-start;
                                border-left:1px solid var(--color-border-light-tertiary);
                                border-right:1px solid var(--color-border-light-tertiary);
                                border-bottom:1px solid var(--color-border-light-tertiary);

                                div {
                                    &.extDetails {
                                        display:grid;
                                        grid-template-columns: 100%;
                                        align-items: flex-start;
                                        align-content: flex-start;
                                        row-gap:5px;
                        
                                        @include fakebutton('btn');
                        
                                        label,
                                        div {                        
                                            &.extcout {
                                                display:grid;
                                                grid-template-columns: 1fr 1fr;
                                                align-items: flex-start;
                                                align-content: flex-start;
                                                padding:5px;
                                                grid-gap:5px;

                                                a.btn {
                                                    grid-column-start: 1;
                                                    grid-column-end: 3;
                                                }
                        
                                                a.btn.selected {
                                                    color: $lightOrange;
                                                    border-color:$red;
                                                    letter-spacing: 1px;
                                                    text-shadow:none;
                                                }
                        
                                                label {
                                                    grid-column-start: 1;
                                                    grid-column-end: 3;
                        
                                                    display:grid;
                                                    grid-template-columns: 1fr 45px;
                        
                                                    span {
                                                        display:grid;
                                                        width:100%;
                                                        justify-content: center;
                                                        align-items: center;
                                                    }
                        
                                                    input {
                                                        width:100%;
                                                        padding-right: 0px;
                                                        padding-left: 0px;
                                                        text-align: center;
                                                        font-family: Sriracha;
                                                        height:100%;
                                                        background:transparent;
                                                    }
                                                }
                                            }
                                        }
                                    }
                        
                                    &.extdescription {
                                        display:grid;
                                        grid-template-columns: 100%;
                                        grid-template-rows: max-content 1fr;
                                        align-items: flex-start;
                                        align-content: flex-start;
                                        border-left:1px solid var(--color-border-light-tertiary);
                                        padding:0px 0px 5px;
                                        min-height:100%;
                        
                                        span.label {
                                            display:grid;
                                            font-variant: small-caps;
                                            width:100%;
                                            align-items: center;
                                            padding-left:15px;
                                            font-size: 15px;
                                        }
                        
                                        div.editor {
                                            min-height:100%;
                                            border-top:1px solid;
                                            border-top-color: $color;
                        
                                            a.editor-edit {
                                                height: 30px;
                                                width: 30px;
                                                text-align: center;
                                            }
                        
                                            div {
                                                &.editor-content {
                                                    padding-left: 5px;
                                                    padding-right: 5px;
                                                }
                        
                                                &.tox-tinymce {
                                                    min-height:300px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}