div.qg {
    section.window-content {
        background:$fond;
        color:$color;
        font-family: Sriracha;
        font-weight: bold;

        form {
            min-width: min-content;
        }

        div {
            &.editor-content {
                font-family: "Kalam";
                letter-spacing: 0.5px;
            }
        }
    }

    header {
        &.sheet-header {
            display:grid;
            grid-template-columns: 1fr 240px 85px;
            grid-gap:5px;
            border-style: solid;
            border-width: 2px;
            border-radius: 15px 15px 0px 0px;
            background:$imgbg $yellow;
            background-blend-mode: overlay, multiply, multiply;

            >input {
                grid-column:1;
                font-size: 4rem;
                height: 4rem;
                border: none;
                background: none;
                color: $fond;
                text-shadow: 2px 2px 0px $orange, 1px 1px 0px $color;
                font-family: "Bangers";
                text-align: center;

                &::placeholder {
                    color:$fond;                    
                }
            }

            >img {
                grid-column-start:2;
                grid-column-end:4;
                grid-row-start:1;
                grid-row-end:3;
                border:0px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    div {
        &.totalpp {
            display:grid;
            grid-template-columns: min-content;
            width:100%;
            background:$color;
            color:$fond;
            padding:5px;

            details {
                width:max-content;

                span {
                    display: grid;
                    align-self: center;
                    width:100%;
                    height: 100%;
                    align-items: center;

                    &.score,
                    &.max {
                        color:$color;
                    }

                    &.red {
                        color:$red;
                    }
                }

                summary {
                    display:grid;
                    width:100%;
                    grid-template-columns: 25px 1fr 45px 8px 45px;
                    grid-gap:2px;
                    cursor:pointer;

                    &::before {
                        content: "+";
                        border: 1px solid $white;
                        font-size: 13px;
                        border-radius: 30px;
                        width: 100%;
                        text-align: center;
                    }

                    span {
                        &.label {
                            padding-left:5px;
                            min-width: 100px;
                            text-align: right;
                        }

                        &.label,
                        &.separation {
                            font-weight:normal;
                        }

                        &.score,
                        &.max {
                            border: none;
                            border-bottom: 1px solid #333;
                            border-radius: 10px;
                            background: $bgopacity;
                            text-align: center;
                        }
                    }
                }

                div {
                    &.line {
                        display:grid;
                        width:100%;
                        grid-template-columns: 25px 1fr 45px 8px 45px;
                        grid-gap:2px;
                        margin-top:2px;

                        span {
                        
                            &.label {
                                grid-column:2;
                                text-align: right;
                                font-weight:normal;
                            }

                            &.score {
                                grid-column:3;
                                border: none;
                                border-bottom: 1px solid #333;
                                border-radius: 10px;
                                background: $bgopacity;
                                text-align: center;
                            }
                        }

                        input {
                            width:100%;
                            grid-column:3;
                            border: none;
                            border-bottom: 1px solid #333;
                            border-radius: 10px;
                            background: $bgopacity;
                            text-align: center;
                        }
                    }
                }

                &[open] {
                    summary {
                        &::before {
                            content:"-";
                        }

                        border-bottom:1px dashed $bgopacity;
                        padding-bottom:5px;
                        margin-bottom:3px;
                    }
                }
            }
        }
    }

    section {
        &.sheet-body {
            @import "subparts/nav";
            @import "subparts/options";

            div {
                &.informations {
                    border:1px solid $grey;
                    border-top-color:$black;
                    padding: 5px;
            
                    img.profile-img {
                        object-fit: contain;
                    }
            
                    div {
                        &.inner {
                            display:grid;
                            grid-template-columns: 200px 1fr;
                            grid-gap:5px;
                            align-items: flex-start;
                            align-content: flex-start;
                        }
            
                        &.block {
                            display:grid;
                            grid-template-columns: 100%;
                            grid-template-rows: max-content;
                            border:2px solid $black;
            
                            >span {
                                font-variant: small-caps;
                                font-size: 15px;
                                padding-left: 15px;
                            }
            
                            div.editor {
                                min-height:50px;
                                border-top:1px solid;
                                border-top-color: $color;
            
                                a.editor-edit {
                                    height: 30px;
                                    width: 30px;
                                    text-align: center;
                                }
            
                                div {
                                    &.editor-content {
                                        padding-left: 5px;
                                        padding-right: 5px;
                                    }
            
                                    &.tox-tinymce {
                                        min-height:300px;
                                    }
                                }
                            }
                        }
                    }
                }

                &.details {
                    div {
                        &.inner {
                            display:grid;
                            grid-template-columns: 1fr 1fr;
                            grid-gap:5px;
                            border:1px solid $grey;
                            border-top-color:$black;
                            padding: 5px;
                            align-items: flex-start;
                            align-content: flex-start;
                        }
                    }
                    
                }

                &.taille {
                    display:grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: max-content;
                    border:2px solid $black;
                    padding:5px;
                    grid-gap: 5px;

                    span {
                        &.header {
                            display:grid;
                            width:100%;
                            justify-content: center;
                            align-items: center;
                            font-size:1em;
                            height:20px;
                        }
                    }

                    select {
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        -o-appearance: none;
                        appearance: none;
                        text-align: center;
                        background:transparent;
                        text-transform: uppercase;
                        width:100%;
                        height:100%;
                        font-weight:bold;
                        color:$color;
                    }
                }

                &.robustesse {
                    display:grid;
                    grid-template-columns: 1fr 45px;
                    grid-template-rows: max-content;
                    border:2px solid $black;
                    padding:5px;
                    grid-gap: 5px;

                    span {
                        &.header {
                            display:grid;
                            width:100%;
                            justify-content: center;
                            align-items: center;
                            font-size:1em;
                        }
                    }

                    input {
                        width:100%;
                        padding-right: 0px;
                        padding-left: 0px;
                        text-align: center;
                        font-family: Sriracha;
                        height:100%;
                        background:transparent;
                    }
                }

                &.particularite {
                    grid-column-start: 1;
                    grid-column-end: 3;

                    display:grid;
                    grid-template-columns: 1fr 1fr 45px;
                    grid-template-rows: max-content;
                    border:2px solid $black;
    
                    span {
                        &.header {
                            font-variant: small-caps;
                            font-size: 15px;
                            padding-left: 15px;
                        }
                        
                        &.label {
                            display:flex;
                            justify-content: right;
                            font-size: 0.8em;
                            text-align: right;
                            padding-right: 5px;
                            align-items: center;
                            align-content: center;
                        }                        
                    }

                    input {
                        width:100%;
                        padding-right: 0px;
                        padding-left: 0px;
                        text-align: center;
                        font-family: Sriracha;
                        height:100%;
                        background:transparent;

                        border-top: 0px;
                        border-right: 0px;
                        border-bottom: 0px;
                    }
    
                    div.editor {
                        grid-column-start: 1;
                        grid-column-end: 4;
                        min-height:50px;
                        border-top:1px solid;
                        border-top-color: $color;
    
                        a.editor-edit {
                            height: 30px;
                            width: 30px;
                            text-align: center;
                        }
    
                        div {
                            &.editor-content {
                                padding-left: 5px;
                                padding-right: 5px;
                            }
    
                            &.tox-tinymce {
                                min-height:300px;
                            }
                        }
                    }
                }
            }
        }
    }
}