<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <input name="system.identite.name" class="identite" type="text" value="{{systemData.identite.name}}" placeholder="{{localize "MM3.Identite"}}" />

        <input name="name" class="hero" type="text" value="{{data.name}}" placeholder="{{localize "MM3.Hero"}}" />

        <img class="logo-img" src="systems/mutants-and-masterminds-3e/assets/logo.webp" />

        <div class="block">
            {{#if systemData.identite.secret}}
            <span class="switchIdentite" data-value="{{systemData.identite.secret}}" title="{{localize "MM3.TYPEIDENTITE.CliquePublique"}}">{{localize "MM3.TYPEIDENTITE.Secrete"}}</span>
            {{else}}
            <span class="switchIdentite" data-value="{{systemData.identite.secret}}" title="{{localize "MM3.TYPEIDENTITE.CliqueSecrete"}}">{{localize "MM3.TYPEIDENTITE.Publique"}}</span>
            {{/if}}
            <label>
                <span>{{localize "MM3.Genre"}}:</span>
                <input name="system.genre" type="text" value="{{systemData.genre}}" />
            </label>
            <label>
                <span>{{localize "MM3.TailleP"}}:</span>
                <input name="system.taille" type="text" value="{{systemData.taille}}" />
            </label>
            <label>
                <span>{{localize "MM3.Poids"}}:</span>
                <input name="system.poids" type="text" value="{{systemData.poids}}" />
            </label>
            <label>
                <span>{{localize "MM3.Age"}}:</span>
                <input name="system.age" type="text" value="{{systemData.age}}" />
            </label>
            <label>
                <span>{{localize "MM3.Yeux"}}:</span>
                <input name="system.yeux" type="text" value="{{systemData.yeux}}" />
            </label>
            <label>
                <span>{{localize "MM3.Cheveux"}}:</span>
                <input name="system.cheveux" type="text" value="{{systemData.cheveux}}" />
            </label>
        </div>

        <input name="system.puissance" type="number" value="{{systemData.puissance}}" title="{{localize "MM3.Puissance"}}" min="0"/>
    </header>
    <div class="totalpp">
        <details {{#if systemData.pp.opened}}open{{/if}}>
            <summary data-value="{{systemData.pp.opened}}">
                <span class="label">{{localize "MM3.PP.Total"}}:</span>
                <span class="score {{#if (isHigherThan systemData.pp.used systemData.pp.total)}}red{{/if}}">{{systemData.pp.used}}</span>
                <span class="separation">/</span>
                <span class="max">{{systemData.pp.total}}</span>
            </summary>
            <div class="line">
                <span class="label">{{localize "MM3.Caracteristiques"}}</span>
                <span class="score">{{systemData.pp.caracteristiques}}</span>
            </div>
            <div class="line">
                <span class="label">+ {{localize "MM3.Pouvoirs"}}</span>
                <span class="score">{{systemData.pp.pouvoirs}}</span>
            </div>
            <div class="line">
                <span class="label">+ {{localize "MM3.Talents"}}</span>
                <span class="score">{{systemData.pp.talents}}</span>
            </div>
            <div class="line">
                <span class="label">+ {{localize "MM3.Competences"}}</span>
                <span class="score">{{systemData.pp.competences}}</span>
            </div>
            <div class="line">
                <span class="label">+ {{localize "MM3.Defenses"}}</span>
                <span class="score">{{systemData.pp.defenses}}</span>
            </div>
            <div class="line">
                <span class="label">+ {{localize "MM3.Divers"}}</span>
                <input type="number" name="system.pp.divers" value="{{systemData.pp.divers}}" min="0"/>
            </div>
        </details>

        <div class="btnOC">
            <a class="closeAll">{{localize "MM3.SPECIAL.ReplierTout"}}</a>
            <a class="openAll">{{localize "MM3.SPECIAL.DeplierTout"}}</a>
        </div>
    </div>

    <section class="sheet-body">
         {{!-- Sheet Tab Navigation --}}
         <nav class="sheet-tabs tabs" data-group="primary">
            <a class="item" data-tab="informations">{{localize "MM3.TABS.Informations"}}</a>
            <a class="item" data-tab="caracteristiques">{{localize "MM3.TABS.CaracComp"}}</a>
            <a class="item" data-tab="pouvoirs">{{localize "MM3.TABS.PouvoirsTalentsEquipements"}}</a>
            <a class="item" data-tab="importations">{{localize "MM3.TABS.Importations"}}</a>
            <a class="item" data-tab="options">{{localize "MM3.TABS.Options"}}</a>
        </nav>

{{> systems/mutants-and-masterminds-3e/templates/parts/informations.html}}
{{> systems/mutants-and-masterminds-3e/templates/parts/caracteristiques.html}}
{{> systems/mutants-and-masterminds-3e/templates/parts/pouvoirs.html}}
{{> systems/mutants-and-masterminds-3e/templates/parts/importations.html}}
{{> systems/mutants-and-masterminds-3e/templates/parts/options.html}}
    </section>

{{> systems/mutants-and-masterminds-3e/templates/parts/bottom.html}}
</form>
