<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <input name="name" type="text" value="{{data.name}}" placeholder="{{localize "MM3.Hero"}}" />

        <img class="logo-img" src="systems/mutants-and-masterminds-3e/assets/logo.webp" />
    </header>
    <div class="totalpp">
        <details {{#if systemData.cout.opened}}open{{/if}}>
            <summary data-value="{{systemData.cout.opened}}">
                <span class="label">{{localize "MM3.Couttotal"}}:</span>
                <span class="max">{{systemData.cout.total}}</span>
            </summary>
            <div class="line">
                <span class="label">{{localize "MM3.TailleQV"}}</span>
                <span class="score">{{systemData.cout.taille}}</span>
            </div>
            <div class="line">
                <span class="label">+ {{localize "MM3.CARACTERISTIQUES.Force"}}</span>
                <span class="score">{{systemData.cout.force}}</span>
            </div>
            <div class="line">
                <span class="label">+ {{localize "MM3.Vitesse"}}</span>
                <span class="score">{{systemData.cout.vitesse}}</span>
            </div>
            <div class="line">
                <span class="label">+ {{localize "MM3.DEFENSE.Robustesse"}}</span>
                <span class="score">{{systemData.cout.robustesse}}</span>
            </div>
            <div class="line">
                <span class="label">+ {{localize "MM3.DEFENSE.Label"}}</span>
                <span class="score">{{systemData.cout.defense}}</span>
            </div>
            <div class="line">
                <span class="label">+ {{localize "MM3.Pouvoirs"}}</span>
                <span class="score">{{systemData.cout.pouvoir}}</span>
            </div>
            <div class="line">
                <span class="label">+ {{localize "MM3.Particularites"}}</span>
                <span class="score">{{systemData.cout.particularite}}</span>
            </div>
            <div class="line">
                <span class="label">+ {{localize "MM3.Divers"}}</span>
                <input type="number" name="system.cout.divers" value="{{systemData.cout.divers}}" min="0"/>
            </div>
        </details>    
    </div>

    <section class="sheet-body">
        {{!-- Sheet Tab Navigation --}}
         <nav class="sheet-tabs tabs" data-group="primary">
            <a class="item" data-tab="informations">{{localize "MM3.TABS.Informations"}}</a>
            <a class="item" data-tab="details">{{localize "MM3.Details"}}</a>
            <a class="item" data-tab="options">{{localize "MM3.TABS.Options"}}</a>
        </nav>

        <div class="tab informations" data-group="primary" data-tab="informations">
            <div class="inner">
                <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" />

                <div class="block">
                    <span>{{localize "MM3.Description"}}</span>
                    {{editor systemData.description target="system.description" button=true owner=owner editable=editable}}
                </div>
            </div>
        </div>
        
        <div class="tab details" data-group="primary" data-tab="details">
            <div class="inner">
                <div class="carac">
                    <span class="header">{{localize "MM3.Nom"}}</span>
                    <span class="header">{{localize "MM3.Total"}}</span>
                    <span class="header">{{localize "MM3.Base"}}</span>
                    <span class="header">{{localize "MM3.Rang"}}</span>
                    <span class="header">{{localize "MM3.Divers"}}</span>
        
                    {{#each systemData.caracteristique as | key carac |}}

                        {{#if (isValue carac 'vitesse')}}
                        <span class="label">{{translate 'vehicule' carac}}</span>
                        {{else}}
                        <a class="roll draggable" data-author="vehicule" data-what="{{carac}}" data-type="caracteristique" data-name="{{translate 'vehicule' carac}}" data-total="{{key.total}}">
                            {{translate 'vehicule' carac}}
                        </a>
                        {{/if}}                        
                        <span class="score">{{key.total}}</span>
                        <span class="score">{{key.base}}</span>
                        <input type="number" name="system.caracteristique.{{carac}}.rang" value="{{key.rang}}" />
                        <input type="number" name="system.caracteristique.{{carac}}.divers" value="{{key.divers}}" />
                    {{/each}}
                </div>

                <div class="col">
                    <div class="vitesse">
                        <span class="header">{{localize "MM3.Coutvitesse"}}</span>
                        <input type="number" name="system.cout.vitesse" value="{{systemData.cout.vitesse}}" min="0" />
                    </div>
                    <div class="taille">
                        <span class="header">{{localize "MM3.TailleQV"}}</span>
                        <select name="system.taille">
                            {{#select systemData.taille}}
                                {{#each systemData.listTailles as | key taille |}}
                                    <option value="{{taille}}">{{key}}</option>
                                {{/each}}
                            {{/select}}
                        </select>
                    </div>
                </div>

                <div class="particularite">
                    <span class="header">{{localize "MM3.Particularites"}}</span>
                    <span class="label">{{localize "MM3.Cout"}} :</span>
                    <input type="number" name="system.cout.particularite" value="{{systemData.cout.particularite}}" min="0" />
                    {{editor systemData.particularite target="system.particularite" button=true owner=owner editable=editable}}
                </div>

                <div class="pouvoirs">
                    {{> systems/mutants-and-masterminds-3e/templates/parts/listPouvoirs.html}}
                </div>
            </div>            
        </div>

        <div class="tab options" data-group="primary" data-tab="options">
            <div class="inner">                
                <div class="block accessibility">
                    <span>{{localize "MM3.ACCESSIBILITE.Label"}}</span>
                    <div class="innerBlock">
                        <label>
                            <span>{{localize "MM3.ACCESSIBILITE.Font"}}</span>
                            <select name="system.accessibility.font">
                                {{#select systemData.accessibility.font}}
                                    <option value="Kalam">-</option>
                                    <option value="Arial">Arial</option>
                                    <option value="Signika">Signika</option>
                                {{/select}}
                            </select>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
