<div class="dice-roll mm3-rollpwr">    
    <div class="dice-result">
        {{#if flavor}}
        <h4 class="dice-total flavor">{{flavor}}</h4>
        {{/if}}
        <h4 class="header">{{localize "MM3.ROLL.Testeffet"}}</h4>
        <h4 class="dice-total formula">{{formula}}</h4>
        {{{tooltip}}}
        <h4 class="dice-total result">
            {{result}}
        </h4>
        {{#if isCritique}}
        <h4 class="dice-total result critique">
            {{localize "MM3.ROLL.Critique"}} !
        </h4>
        {{/if}}
        <div class="data">
            <span>{{translate 'pouvoirs.factions' action}}</span>
            <span>{{localize "MM3.POUVOIR.DUREE.Label"}} : {{translate 'pouvoirs.durees' duree}}</span>
            <span>{{localize "MM3.POUVOIR.PORTEE.Label"}} : {{translate 'pouvoirs.portees' portee}}</span>
        </div>
        {{#if descripteurs}}
        <h4 class="header">{{localize "MM3.POUVOIR.Descripteurs"}}</h4>
        <div class="descripteurs">
            {{#each descripteurs as | kDesc desc |}}
                <span>{{#unless @first}}/{{/unless}} {{kDesc}}</span>
            {{/each}}
        </div>
        {{/if}}

        {{#if description}}
        <h4 class="header">{{localize "MM3.Description"}}</h4>
        <span class="text">{{{description}}}</span>
        {{/if}}
        {{#if effet}}
        <h4 class="header">{{localize "MM3.Details"}}</h4>
        <span class="text">{{{effet}}}</span>
        {{/if}}
        <h4 class="bottom"></h4>
    </div>
</div>