div {
    &.options {
        border:1px solid $grey;
        border-top-color:$black;
        padding: 5px;

        div {
            @include limite;

            &.inner {
                display:grid;
                grid-template-columns: 1fr 1fr;
                grid-gap:5px;
                align-items: flex-start;
            }

            &.block {
                display:grid;
                width:100%;
                grid-template-columns: 1fr;
                grid-template-rows: max-content;
                grid-gap: 5px;
                border: 2px solid $black;
            }

            &.caracteristique {
                @include fakebutton('btnAbs');

                a.selected {
                    color: $lightOrange;
                    border-color: $red;
                    letter-spacing: 1px;
                    text-shadow: none;
                }

                div.innerBlock {
                    display:grid;
                    width:100%;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: max-content;
                    grid-gap: 5px;
                    padding: 0px 5px 5px;
                }

                span {
                    text-align: center;
                    font-variant: small-caps;
                    font-size: 15px;
                    border-bottom: 1px solid $black;
                }
            }

            &.accessibility {
                >span {
                    text-align: center;
                    font-variant: small-caps;
                    font-size: 15px;
                    border-bottom: 1px solid $black;
                }

                div.innerBlock {
                    display:grid;
                    width:100%;
                    grid-template-columns: 1fr;
                    grid-template-rows: max-content;
                    grid-gap: 5px;
                    padding: 0px 5px 5px;
                }

                label {
                    display:grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: max-content;
                    text-align: center;
                }

                select {
                    text-align: center;
                }
            }
        }
    }
}