@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sriracha&display=swap');
@import "parts/functions";
@import "parts/personnage";
@import "parts/modificateur";
@import "parts/pouvoir";
@import "parts/talent";
@import "parts/equipement";
@import "parts/vehicule";
@import "parts/qg";
@import "parts/roll";

img#logo {
    content: url("../assets/logo.webp");
    width:115px;
    height:39px;
}