@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kalam&display=swap');
@import "parts/functions";
@import "parts/personnage";
@import "parts/modificateur";
@import "parts/pouvoir";
@import "parts/talent";
@import "parts/equipement";
@import "parts/vehicule";
@import "parts/qg";
@import "parts/roll";
@import "parts/dialog";

img#logo {
    content: url("../assets/logo.webp");
    width:115px;
    height:39px;
}

#pause video {
    position:absolute;
    min-height: 200px;
    min-width: 200px;
    left: calc(50% - 150px);
    top: -50px;
}

#pause {
    background:none;
}

div.bleuclair,
section.bleuclair aside#players.app {
    background:url("../assets/menu/bleuclair.png") repeat;
}

div.violetclair,
section.violetclair aside#players.app {
    background:url("../assets/menu/violetclair.png") repeat;
}

div.violet,
section.violet aside#players.app {
    background:url("../assets/menu/violet.png") repeat;
}

div.bleufonce,
section.bleufonce aside#players.app {
    background:url("../assets/menu/bleufonce.png") repeat;
}