<div class="attaque">
    <span class="header">{{localize "MM3.Attaques"}}</span>

    <div class="line">
        <span></span>
        <span class="label">
            {{localize "MM3.ATTAQUE.Initiative"}}
        </span>
        <span class="score total">{{systemData.initiative.total}}</span>
        <span class="carac">=</span>
        <input type="number" name="system.initiative.base" value="{{systemData.initiative.base}}" />
        <span class="carac">+</span>
        <span class="score totalInitiative">{{systemData.initiative.carac}}</span>
        <span></span>
    </div>

    {{#each systemData.attaque as | key att |}}
    <div class="reorderDrop" data-type="attaque" data-sort="{{att}}">
        <div class="specialline {{#unless key.edit}}hide{{/unless}}">
            {{#if (isValue key.type 'other')}}
                <input class="label" type="text" name="system.attaque.{{att}}.label" value="{{key.label}}" />
            {{/if}}
                <span class="labelDefense {{#if key.noAtk}}hide{{/if}}">{{localize "MM3.DEFENSE.Jetattaquevs"}} :</span>
                <select class="selectDefense {{#if key.noAtk}}hide{{/if}}" name="system.attaque.{{att}}.defpassive">
                    {{#select key.defpassive}}
                        <option value="parade">{{localize "MM3.DEFENSE.DDParade"}}</option>
                        <option value="esquive">{{localize "MM3.DEFENSE.DDEsquive"}}</option>
                    {{/select}}
                </select>
            
            <a class="noAtk {{#if key.noAtk}}selected{{/if}}" data-id="{{att}}" data-value="{{key.noAtk}}">
                {{localize "MM3.ROLL.Pasattaque"}}
            </a>
            <span class="labelBase">{{localize "MM3.ROLL.DEFENSE.Basedefense"}} :</span>
            <input class="basedef{{att}}" type="number" name="system.attaque.{{att}}.basedef" value="{{key.basedef}}" min="0" />
        </div>

        <span class="label {{#if key.edit}}hide{{/if}} {{#if key.noAtk}}large{{/if}}"></span>
        <span class="label {{#if key.edit}}hide{{/if}} {{#if key.noAtk}}hide{{/if}}">{{localize "MM3.Attaques"}}</span>
        <span class="label {{#if key.edit}}hide{{/if}}">{{localize "MM3.ROLL.Critique"}}</span>
        <span class="label {{#if key.edit}}hide{{/if}}">{{localize "MM3.EFFET.Label"}}</span>
        <span class="label {{#if key.edit}}hide{{/if}}"></span>
        <span class="label {{#if key.edit}}hide{{/if}}"></span>

        {{#if (isValue key.type 'other')}}                        
            <a class="roll draggable {{#if key.edit}}hide{{/if}} {{#if key.noAtk}}large{{/if}}" 
            data-type="attaque" 
            data-name="{{key.label}}" 
            data-total="{{key.attaque}}" 
            data-id="{{att}}"
            data-strattaque="{{@root/systemData/strategie/total/attaque}}"
            data-streffet="{{@root/systemData/strategie/total/effet}}">
                {{key.label}}
            </a>
        {{else}}
            <a class="roll draggable {{#if key.edit}}hide{{/if}} {{#if key.noAtk}}large{{/if}}" 
            data-type="attaque" 
            data-name="{{getAtt @root key.type key.id 'label'}}" 
            data-total="{{getAtt @root key.type key.id 'total'}}" 
            data-id="{{att}}"
            data-strattaque="{{@root/systemData/strategie/total/attaque}}"
            data-streffet="{{@root/systemData/strategie/total/effet}}">
                {{getAtt @root key.type key.id 'label'}}
            </a>
        {{/if}}

        {{#if (isValue key.type 'other')}}
            <input class="{{#if key.edit}}hide{{/if}} {{#if key.noAtk}}hide{{/if}}" type="number" name="system.attaque.{{att}}.attaque" title="{{localize "MM3.ATTAQUE.Label"}}" value="{{key.attaque}}" />
        {{else}}
            <span class="score {{#if key.edit}}hide{{/if}} {{#if key.noAtk}}hide{{/if}}" title="{{localize "MM3.ATTAQUE.Label"}}">{{getAtt @root key.type key.id 'total'}}</span>
        {{/if}}

        <input class="{{#if key.edit}}hide{{/if}}" type="number" name="system.attaque.{{att}}.critique" value="{{key.critique}}" min="0" title="{{localize "MM3.ROLL.Critique"}}"/>
        <input class="{{#if key.edit}}hide{{/if}}" type="number" name="system.attaque.{{att}}.effet" value="{{key.effet}}" min="0" title="{{localize "MM3.EFFET.Label"}}"/>
        <select class="defense {{#if key.edit}}hide{{/if}}" data-id="{{att}}" name="system.attaque.{{att}}.save" title="{{localize "MM3.DEFENSE.Label"}}">
            {{#select key.save}}
                <option value="esquive">{{translate 'defenses' 'esquive'}}</option>
                <option value="parade">{{translate 'defenses' 'parade'}}</option>
                <option value="vigueur">{{translate 'defenses' 'vigueur'}}</option>
                <option value="robustesse">{{translate 'defenses' 'robustesse'}}</option>
                <option value="volonte">{{translate 'defenses' 'volonte'}}</option>
            {{/select}}
        </select>
        <i class="fa-solid fa-pen-to-square editAtk" data-id="{{att}}" data-value="{{key.edit}}" title="{{localize "MM3.Editadvanced"}}"></i>
        <textarea class="{{#if key.edit}}hide{{/if}} {{#if (isValue key.type 'other')}}short{{/if}}" name="system.attaque.{{att}}.text">{{key.text}}</textarea>
        <div class="icons">
            <i class="fa-solid fa-arrows-up-down reorder" data-sort="{{att}}" data-type="attaque"></i>
            {{#if (isValue key.type 'other')}}
                <i class="fa-solid fa-trash-xmark delete {{#if key.edit}}hide{{/if}}" data-id="{{att}}" data-type="attaque"></i>
            {{/if}}
        </div>      
    </div>
    {{/each}}

    <a class="add" data-type="attaque">
        {{localize "MM3.BTN.Add"}}
    </a>
</div>