<div class="tab caracteristiques" data-group="primary" data-tab="caracteristiques">
    <div class="inner">
        <div class="col">
            <div class="carac">
                <span class="title">{{localize "MM3.Caracteristiques"}}</span>

                <span class="header">{{localize "MM3.Nom"}}</span>
                <span class="header">{{localize "MM3.Total"}}</span>
                <span class="header">{{localize "MM3.Base"}}</span>
                <span class="header">{{localize "MM3.Divers"}}</span>

                {{#each systemData.caracteristique as | key carac |}}

                    {{#unless key.absente}}
                    <a class="roll draggable" data-type="caracteristique" data-what="{{carac}}" data-name="{{translate 'caracteristiques' carac}}" data-total="{{key.total}}">
                        {{translate 'caracteristiques' carac}}
                    </a>
                    <span class="score">{{key.total}}</span>
                    <input type="number" name="system.caracteristique.{{carac}}.base" value="{{key.base}}" />
                    <input type="number" name="system.caracteristique.{{carac}}.divers" value="{{key.divers}}" />
                    {{/unless}}
                {{/each}}
            </div>

            <div class="points">
                <div>
                    <span>{{localize "MM3.PP.Depart"}}</span>
                    <span>{{localize "MM3.PP.Gagner"}}</span>
                    <input type="number" name="system.pp.base" value="{{systemData.pp.base}}" min="0" />
                    <input type="number" name="system.pp.gain" value="{{systemData.pp.gain}}" min="0" />
                </div>
                <div>
                    <span>{{localize "MM3.Heroisme"}}</span>
                    <span>{{localize (ifThen systemData.stackeddmg "MM3.BlessuresStacked" "MM3.Blessures")}}</span>
                    <input type="number" name="system.heroisme" value="{{systemData.heroisme}}" min="0" />

                    {{#if systemData.stackeddmg}}
                    <div class="double">
                        <input type="number" name="system.blessure" value="{{systemData.blessure}}" min="0" title="{{localize "MM3.BlessuresL"}}" />
                        <span>/</span>
                        <input type="number" name="system.blessureNL" value="{{systemData.blessureNL}}" min="0" title="{{localize "MM3.BlessuresNL"}}" />
                    </div>
                    {{else}}
                    <input type="number" name="system.blessure" value="{{systemData.blessure}}" min="0" />
                    {{/if}}
                </div>
            </div>

            <div class="defense">
                <div class="line">
                    <span>{{localize "MM3.DEFENSE.DDEsquive"}}</span>
                    <span class="score">{{systemData.ddesquive}}</span>
                    <span class="title">{{localize "MM3.Defenses"}}</span>
                    <span>{{localize "MM3.DEFENSE.DDParade"}}</span>
                    <span class="score">{{systemData.ddparade}}</span>
                </div>

                <span class="header">{{localize "MM3.Nom"}}</span>
                <span class="header"></span>

                <span class="header">{{localize "MM3.Total"}}</span>
                <span class="header">=</span>

                <span class="header">{{localize "MM3.Points"}}</span>
                <span class="header">+</span>

                <span class="header">{{localize "MM3.Carac"}}</span>
                <span class="header">+</span>

                <span class="header">{{localize "MM3.Divers"}}</span>

                {{#each systemData.defense as | key def |}}
                    <a class="roll draggable" data-what="{{def}}" data-type="defense" data-name="{{translate 'defenses' def}}" data-total="{{key.total}}">
                        {{translate 'defenses' def}}
                    </a>
                    <span class="carac">{{translate 'caracteristiquesshort' key.car}}</span>
                    <span class="score total">{{key.total}}</span>
                    <span class="carac">=</span>
                    <input type="number" name="system.defense.{{def}}.base" value="{{key.base}}" />
                    <span class="carac">+</span>
                    <span class="score">{{key.carac}}</span>
                    <span class="carac">+</span>
                    <input type="number" name="system.defense.{{def}}.divers" value="{{key.divers}}" />
                {{/each}}
            </div>

{{> systems/mutants-and-masterminds-3e/templates/parts/attaque.html}}
{{> systems/mutants-and-masterminds-3e/templates/parts/strategie.html}}
        </div>

        <div class="col">
{{> systems/mutants-and-masterminds-3e/templates/parts/vitesse.html}}
            <div class="comp">
                <span class="title">{{localize "MM3.Competences"}}</span>

                <span class="header htwo">{{localize "MM3.Nom"}}</span>
                <span></span>
                <span class="header">{{localize "MM3.Total"}}</span>
                <span class="header">{{localize "MM3.Carac"}}</span>
                <span class="header">{{localize "MM3.Rang"}}</span>
                <span class="header">{{localize "MM3.Autre"}}</span>
                 <span></span>

                {{#each systemData.competence.list as | key comp |}}                   
                    {{#if key.canAdd}}
                        <div class="competence-h4">
                            <h4>{{key.label}}</h4>                        
                        </div>
                        {{#each key.list as | kscomp subcomp |}}
                            <div class="list {{#if key.new}}reorderDrop{{/if}}" {{#if key.new}}data-type="basecompetence" data-sort="{{subcomp}}"{{/if}}  data-comp="{{comp}}">
                            
                                <a class="roll twoRoll draggable" data-what="{{comp}}" data-id="{{subcomp}}" data-type="competence" data-name="{{kscomp.label}}" data-total="{{kscomp.total}}">
                                    <i class="fa-solid fa-dice-d20"></i>
                                    <input type="text" name="system.competence.{{comp}}.list.{{subcomp}}.label" value="{{kscomp.label}}" />
                                </a>
                                {{#if carCanChange}}
                                <select name="system.competence.{{comp}}.list.{{subcomp}}.car">
                                    {{selectOptions (listcarac) selected=kscomp.car localize=true}}
                                </select>
                                {{else}}

                                <span class="carac">{{translate 'caracteristiquesshort' key.car}}</span>
                                {{/if}}
                                <span class="score total">{{kscomp.total}}</span>
                                <span class="score">{{kscomp.carac}}</span>
                                <input type="number" name="system.competence.{{comp}}.list.{{subcomp}}.rang" value="{{kscomp.rang}}" />
                                <input type="number" name="system.competence.{{comp}}.list.{{subcomp}}.autre" value="{{kscomp.autre}}" />
                                <div class="icons">
                                    <i class="fa-solid fa-arrows-up-down reorder" data-type="competence" data-comp="{{comp}}" data-sort="{{subcomp}}"></i>
                                    <i class="fa-solid fa-trash-xmark delete" data-id="{{subcomp}}" data-type="competence" data-what="{{comp}}"></i>
                                </div>
                            </div>
                        {{/each}}

                            <a class="add" data-type="competence" data-what="{{comp}}">
                                {{localize "MM3.BTN.Add"}}
                            </a>
                    {{else}}
                         
                        {{#if key.new}}
                            {{#each key.list as | kscomp subcomp |}}
                                <div class="list" {{#if key.new}}data-type="basecompetence" data-sort="{{comp}}"{{/if}}>
                                    <a class="roll twoRoll draggable" data-what="{{comp}}" data-id="new" data-type="competence" data-name="{{kscomp.label}}" data-total="{{kscomp.total}}">
                                        <i class="fa-solid fa-dice-d20"></i>
                                        <input type="text" name="system.competence.{{comp}}.list.{{subcomp}}.label"value="{{kscomp.label}}" />
                                    </a>
                                    <select name="system.competence.{{comp}}.list.{{subcomp}}.car">
                                        {{selectOptions (listcarac) selected=kscomp.car localize=true}}
                                    </select>
                                    <span class="score total">{{kscomp.total}}</span>
                                    <span class="score">{{kscomp.carac}}</span>
                                    <input type="number" name="system.competence.{{comp}}.list.{{subcomp}}.rang" value="{{kscomp.rang}}" />
                                    <input type="number" name="system.competence.{{comp}}.list.{{subcomp}}.autre" value="{{kscomp.autre}}" />
                                    <div class="icons">
                                        <i class="fa-solid fa-arrows-up-down reorder" data-type="competence" data-comp="{{comp}}" data-sort="{{subcomp}}"></i>
                                        <i class="fa-solid fa-trash-xmark delete" data-id="{{subcomp}}" data-type="competence" data-what="{{comp}}"></i>
                                    </div>
                                </div>
                            {{/each}}
                        {{else}}
                            <div class="list {{#if key.new}}reorderDrop{{/if}}" {{#if key.new}}data-type="basecompetence" data-sort="{{comp}}"{{/if}}>
                                <a class="roll twoRoll draggable" data-what="{{comp}}" data-type="competence" data-name="{{key.label}}" data-total="{{key.total}}">
                                    {{key.label}}
                                </a>
                                {{#if carCanChange}}
                                    <select name="system.competence.{{comp}}.car">
                                        {{selectOptions (listcarac) selected=key.car localize=true}}
                                    </select>
                                {{else}}
                                    <span class="carac">{{translate 'caracteristiquesshort' key.car}}</span>
                                {{/if}}
                                <span class="score total">{{key.total}}</span>
                                <span class="score">{{key.carac}}</span>
                                <input type="number" name="system.competence.{{comp}}.rang" value="{{key.rang}}" />
                                <input type="number" name="system.competence.{{comp}}.autre" value="{{key.autre}}" />
                                <div class="icons"></div>
                            </div>
                        {{/if}}
                    {{/if}}
                {{/each}}
                <a class="add" data-type="competence" data-what="new">
                    {{localize "MM3.BTN.AddCmp"}}
                </a>
            </div>

            <div class="etats">
                <span>{{localize "MM3.Etats"}}</span>
                <textarea name="system.etats">{{systemData.etats}}</textarea>
            </div>
        </div>
    </div>
</div>