
{{#if single}}
    <div class="effects {{#if systemData.edit}}edit{{/if}} single" data-name="{{effect.flags.variante}}">
        <div class="header">
            <a type="action" class="btn btnEdit {{#if systemData.edit}}selected{{/if}}">
                {{localize 'MM3.BTN.EditMod'}}
            </a>
            <span>{{localize 'MM3.TABS.Modificateurs'}}</span>
            <i class="fa-solid fa-square-plus clickable addMod" title="{{localize 'MM3.BTN.AddMod'}}" data-id="{{effect._id}}"></i>
        </div>
        {{#each item.effects as | effect kE|}}
            {{#if effect.changes}}
            <div class="effectsBlock" data-effect-id="{{effect._id}}">
                {{#each effect.changes as | change kC|}}
                <div class="effectsChanges" data-key="{{kC}}" data-id="{{effect._id}}">
                    <div class="toEdit">
                        <i class="fa-solid fa-trash deleteMod clickable" title="{{localize 'MM3.BTN.DeleteMod'}}"></i>
                        <select name="item.effects.{{kE}}.changes.{{kC}}.key" data-key="{{kC}}" data-id="{{effect._id}}" class="effect">
                            {{selectOptions ../../item.listMods selected=(getLabelTranslate change.key) blank='MM3.Choisir' localize=true sort=true}}
                        </select>
                        <select name="item.effects.{{kE}}.changes.{{kC}}.surcharge" data-key="{{kC}}" data-id="{{effect._id}}" class="surcharge">
                            {{selectOptions ../../item.listSurcharge selected=(getLast change.key) blank='MM3.EFFECTS.Bonus' localize=true sort=true}}
                        </select>
                        <input type="number" name="item.effects.{{kE}}.changes.{{kC}}.key" data-name="{{effect.flags.variante}}" value="{{change.value}}" data-key="{{kC}}" data-id="{{effect._id}}" class="effect" />
                    </div>
                    <div class="show">
                        <span class="header">
                            <i class="fa-solid fa-trash deleteMod clickable" title="{{localize 'CNK.TRAIT.SupprimerBonus'}}"></i>
                            {{labelize (getLabelTranslate change.key)}}
                        </span>
                        <span class="value">
                            {{ifThen (or (eq (getLast change.key) 'surcharge') (eq (getLast change.key) 'surchargeranks')) (numberFormat change.value sign=false) (numberFormat change.value sign=true)}}
                            {{#if (or (eq (getLast change.key) 'ranks') (eq (getLast change.key) 'surchargeranks'))}}
                            / {{localize 'MM3.Rang'}}
                            {{/if}}
                        </span>
                    </div>
                </div>
                {{/each}}
            </div>
            {{/if}}
        {{/each}}
    </div>
{{else}}
    {{#each item.effects as | effect kE|}}
    <div class="effects {{#if ../systemData.edit}}edit{{/if}}" data-name="{{effect.flags.variante}}">
        <div class="header">
            <i class="fa-solid fa-trash deleteVMod clickable" data-id="{{effect._id}}" data-name="{{effect.flags.variante}}" title="{{localize 'MM3.BTN.DeleteVMod'}}"></i>
            <input type="text" class="varianteName" data-id="{{effect._id}}" data-name="{{effect.flags.variante}}" name="system.listEffectsVariantes.{{effect.flags.variante}}" value="{{getVarianteName ../item.system effect.flags.variante}}" placeholder="{{localize 'MM3.TABS.Modificateurs'}}" />
            <i class="fa-solid fa-square-plus clickable addMod" title="{{localize 'MM3.BTN.AddMod'}}" data-id="{{effect._id}}"></i>
        </div>
        {{#if effect.changes}}
        <div class="effectsBlock" data-effect-id="{{effect._id}}">
            {{#each effect.changes as | change kC|}}
            <div class="effectsChanges" data-key="{{kC}}" data-id="{{effect._id}}">
                <div class="toEdit">
                    <i class="fa-solid fa-trash deleteMod clickable" title="{{localize 'MM3.BTN.DeleteMod'}}"></i>
                    <select name="item.effects.{{kE}}.changes.{{kC}}.key" data-key="{{kC}}" data-id="{{effect._id}}" class="effect">
                        {{selectOptions ../../item.listMods selected=(getLabelTranslate change.key) blank='MM3.Choisir' localize=true sort=true}}
                    </select>
                    <select name="item.effects.{{kE}}.changes.{{kC}}.surcharge" data-key="{{kC}}" data-id="{{effect._id}}" class="surcharge">
                        {{selectOptions ../../item.listSurcharge selected=(getLast change.key) blank='MM3.EFFECTS.Bonus' localize=true sort=true}}
                    </select>
                    <input type="number" name="item.effects.{{kE}}.changes.{{kC}}.key" value="{{change.value}}" data-key="{{kC}}" data-id="{{effect._id}}" data-name="{{effect.flags.variante}}" class="effect" />
                </div>
                <div class="show">
                    <span class="header">
                        <i class="fa-solid fa-trash deleteMod clickable" title="{{localize 'CNK.TRAIT.SupprimerBonus'}}"></i>
                        {{labelize (getLabelTranslate change.key)}}
                    </span>
                    <span class="value">
                        {{ifThen (or (eq (getLast change.key) 'surcharge') (eq (getLast change.key) 'surchargeranks')) (numberFormat change.value sign=false) (numberFormat change.value sign=true)}}
                        {{#if (or (eq (getLast change.key) 'ranks') (eq (getLast change.key) 'surchargeranks'))}}
                        / {{localize 'MM3.Rang'}}
                        {{/if}}
                    </span>
                </div>
            </div>
            {{/each}}
        </div>
        {{/if}}
    </div>
    {{/each}}
{{/if}}