<div class="tab informations" data-group="primary" data-tab="informations">
    <div class="inner">
        <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" />

        <div class="block">
            <span>{{localize "MM3.Description"}}</span>
            {{editor systemData.description target="system.description" button=true owner=owner editable=editable}}
        </div>

        <div class="complications twoBlock">
            <span>{{localize "MM3.Complications"}}</span>
            {{#each systemData.complications as | key complication |}}
            <div class="subblock">
                <div class="header js-toggler">
                    <span class="deploy "><i class="minus"></i></span>
                    <input type="text" name="system.complications.{{complication}}.label" value="{{key.label}}" />
                    <i class="fa-solid fa-trash-xmark delete" data-id="{{complication}}" data-type="complications"></i>
                </div>
                {{editor key.description target=(mm3concat 'system.complications' complication 'description') button=true owner=owner editable=@root/editable}}
            </div>
                
            {{/each}}

            <a class="add" data-type="complications">
                {{localize "MM3.BTN.Add"}}
            </a>
        </div>
    
        <div class="block twoBlock">
            <span>{{localize "MM3.Historique"}}</span>
            {{editor systemData.historique target="system.historique" button=true owner=owner editable=editable}}
        </div>
    </div>    
</div>