<div class="tab options" data-group="primary" data-tab="options">
    <div class="inner">
        <div class="block caracteristique">
            <span>{{localize "MM3.SETTING.CaractéristiquesAbsentes"}}</span>
            <div class="innerBlock">
                {{#each systemData.caracteristique as | key carac |}}
                    <a class="btnAbs {{#if key.absente}}selected{{/if}}" data-type="caracteristique" data-what="{{carac}}" data-value="{{key.absente}}">
                        {{translate 'caracteristiques' carac}}
                    </a>
                {{/each}}
            </div>
        </div>
        
        <div class="block accessibility">
            <span>{{localize "MM3.ACCESSIBILITE.Label"}}</span>
            <div class="innerBlock accessibilityFont">
                <label>
                    <span>{{localize "MM3.ACCESSIBILITE.Font"}}</span>
                    <select name="system.accessibility.font">
                        {{#select systemData.accessibility.font}}
                            <option value="Kalam">-</option>
                            <option value="var(--font-primary)">{{localize "MM3.SETTING.Defaut"}}</option>
                            {{#each systemData.accessibility.listFont as | key font |}}
                                <option value="{{key}}">{{font}}</option>
                            {{/each}}
                        {{/select}}
                    </select>
                </label>
            </div>

            <div class="innerBlock accessibilityFont">
                <label>
                    <span>{{localize "MM3.ACCESSIBILITE.FontOther"}}</span>
                    <select name="system.accessibility.fontOther">
                        {{#select systemData.accessibility.fontOther}}
                            <option value="">-</option>
                            <option value="var(--font-primary)">{{localize "MM3.SETTING.Defaut"}}</option>
                            {{#each systemData.accessibility.listFont as | key font |}}
                                <option value="{{key}}">{{font}}</option>
                            {{/each}}
                        {{/select}}
                    </select>
                </label>
            </div>
        </div>

        {{#if (isOwner this)}}
            {{#if (isTrusted)}}
            <div class="block limite">
                <span class="title">{{localize "MM3.STRATEGIE.Limite"}}</span>
                <div class="strategie">
                    <span class="header">{{localize "MM3.Nom"}}</span>
                    <span class="header">{{localize "MM3.ATTAQUE.Label"}}</span>
                    <span class="header">{{localize "MM3.DEFENSE.Label"}}</span>
                    <span class="header">{{localize "MM3.EFFET.Label"}}</span>

                    <span class="label">
                        {{localize "MM3.STRATEGIE.Attaqueoutrance"}}
                    </span>
                    <input 
                        data-type="attaqueoutrance" data-value="attaque" 
                        type="number" name="system.strategie.limite.query.attaqueoutrance.attaque" value="{{systemData.strategie.limite.query.attaqueoutrance.attaque}}"
                        title="{{localize "MM3.BONUS.Attaque"}}"
                        min="0"
                    />
                    <input 
                        data-type="attaqueoutrance" data-value="defense" 
                        type="number" name="system.strategie.limite.query.attaqueoutrance.defense" value="{{systemData.strategie.limite.query.attaqueoutrance.defense}}"
                        title="{{localize "MM3.MALUS.Defense"}}"
                        max="0"
                    />
                    <span></span>
                    
                    <span class="label">
                        {{localize "MM3.STRATEGIE.Attaquedefensive"}}
                    </span>
                    <input 
                        data-type="attaquedefensive" data-value="attaque"
                        type="number" name="system.strategie.limite.query.attaquedefensive.attaque" value="{{systemData.strategie.limite.query.attaquedefensive.attaque}}"
                        title="{{localize "MM3.MALUS.Attaque"}}"
                        max="0"
                    />
                    <input 
                        data-type="attaquedefensive" data-value="defense"
                        type="number" name="system.strategie.limite.query.attaquedefensive.defense" value="{{systemData.strategie.limite.query.attaquedefensive.defense}}"
                        title="{{localize "MM3.BONUS.Defense"}}"
                        min="0"
                    />
                    <span></span>
                
                    <span class="label">
                        {{localize "MM3.STRATEGIE.Attaqueprecision"}}
                    </span>
                    <input 
                        data-type="attaqueprecision" data-value="attaque" 
                        type="number" name="system.strategie.limite.query.attaqueprecision.attaque" value="{{systemData.strategie.limite.query.attaqueprecision.attaque}}"
                        title="{{localize "MM3.BONUS.Attaque"}}"
                        min="0"
                    />
                    <span></span>
                    <input 
                        data-type="attaqueprecision" data-value="effet" 
                        type="number" name="system.strategie.limite.query.attaqueprecision.effet" value="{{systemData.strategie.limite.query.attaqueprecision.effet}}"
                        title="{{localize "MM3.MALUS.Effet"}}"
                        max="0"
                    />
                
                    <span class="label">
                        {{localize "MM3.STRATEGIE.Attaquepuissance"}}
                    </span>
                    <input 
                        data-type="attaquepuissance" data-value="attaque" 
                        type="number" name="system.strategie.limite.query.attaquepuissance.attaque" value="{{systemData.strategie.limite.query.attaquepuissance.attaque}}"
                        title="{{localize "MM3.MALUS.Attaque"}}"
                        max="0"
                    />
                    <span></span>
                    <input 
                        data-type="attaquepuissance" data-value="effet" 
                        type="number" name="system.strategie.limite.query.attaquepuissance.effet" value="{{systemData.strategie.limite.query.attaquepuissance.effet}}"
                        title="{{localize "MM3.BONUS.Effet"}}"
                        min="0"
                    />
                </div>
                <a class="saveLimiteStrategie">Enregistrer les limites des stratégies</a> 
            </div>
            {{/if}}
        {{/if}}
    </div>
</div>